.text_top p {
  font-size: 0.537rem;
  font-weight: 500;
  color: #01070d;
  line-height: 0.75rem;
  text-align: center;
  margin-top: 0.463rem;
  margin-bottom: 0.3704rem;
}
.text_tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0.9167rem;
  border-top: 0.0093rem solid #CED8E2;
  border-bottom: 0.0093rem solid #CED8E2;
  margin-bottom: 0.463rem;
  position: relative;
}
.text_tab .tab_wind {
  display: none;
  position: absolute;
  width: 100%;
  top: 0.9033rem;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  height: 14.2rem;
}
.text_tab .tab_wind .tab_wind_top {
  background: #ffffff;
  padding-top: 0.6481rem;
  padding-bottom: 0.2778rem;
}
.text_tab .tab_wind .tab_wind_top .tab_wind_top_single {
  width: 9.2593rem;
  margin: 0 auto;
  background: #f0f3f6;
  margin-bottom: 0.3704rem;
}
.text_tab .tab_wind .tab_wind_top .tab_wind_top_single p {
  font-size: 0.3519rem;
  color: #2761ce;
  line-height: 0.4259rem;
  padding-left: 0.3704rem;
  padding-top: 0.2685rem;
  padding-bottom: 0.2685rem;
}
.text_tab .tab_wind .tab_wind_top .selected {
  background: #2761ce;
}
.text_tab .tab_wind .tab_wind_top .selected p {
  color: #FFFFFF;
}
.text_tab .tab_wind .tab_wind_end {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.text_tab .text_tab_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 6.0741rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 0.3704rem;
}
.text_tab .text_tab_left p {
  font-size: 0.3519rem;
  font-weight: 400;
  color: #01070d;
  line-height: 0.4907rem;
}
.text_tab img {
  width: 0.5093rem;
  height: 0.5093rem;
  margin-left: auto;
  margin-right: 0.3704rem;
}
.text_list {
  width: 9.2593rem;
  margin: 0 auto;
  margin-bottom: 0.9259rem;
}
.text_list .video_list_single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 0.3704rem;
}
.text_list .video_list_single .video_list_single_left {
  position: relative;
  width: 2.963rem;
  height: 1.6481rem;
  margin-right: 0.2778rem;
}
.text_list .video_list_single .video_list_single_left .backimg {
  width: 2.963rem;
  height: 1.6481rem;
}
.text_list .video_list_single .video_list_single_left .icon {
  position: absolute;
  width: 0.5556rem;
  height: 0.5556rem;
  right: 0.1852rem;
  bottom: 0.1852rem;
}
.text_list .video_list_single .video_list_single_right p {
  font-size: 0.4259rem;
  color: #01070d;
  line-height: 0.6481rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text_list .text_list_single {
  border-bottom: 0.0093rem solid #CED8E2;
  padding-bottom: 0.3704rem;
  margin-top: 0.3704rem;
}
.text_list .text_list_single .text_list_single_top {
  margin-bottom: 0.1852rem;
}
.text_list .text_list_single .text_list_single_top p {
  font-size: 0.4259rem;
  color: #01070d;
  line-height: 0.6481rem;
  font-family: Helvetica;
}
.text_list .text_list_single .text_list_single_end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.text_list .text_list_single .text_list_single_end p {
  font-size: 0.2593rem;
  font-family: Helvetica;
  color: #6f859c;
  margin-right: 0.2778rem;
}
.talent_wrapper {
  min-height: 8.3rem;
}
.tabfixed {
  position: fixed;
  top: 1.29rem;
  width: 100%;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 2;
}
