.simple {
  margin: 0 auto;
  margin-top: 0.463rem;
  margin-bottom: 0.9259rem;
  width: 9.2593rem;
}
.simple .simple_top .title {
  font-size: 0.537rem;
  font-weight: 500;
  color: #01070d;
  line-height: 0.8333rem;
  margin-bottom: 0.463rem;
}
.simple .simple_top .desc {
  font-size: 0.4259rem;
  font-weight: 400;
  color: #01070d;
  line-height: 0.7407rem;
  margin-bottom: 0.463rem;
}
.simple .simple_end .end_title {
  font-size: 0.4259rem;
  font-weight: 400;
  color: #01070d;
  line-height: 0.7407rem;
  margin-bottom: 0.463rem;
}
.simple .simple_end .end_single {
  font-size: 0.4259rem;
  font-weight: 400;
  color: #01070d;
  line-height: 0.7407rem;
  margin-bottom: 0.463rem;
}
