.back_detial {
  width: 9.2593rem;
  margin: 0 auto;
  margin-top: 0.463rem;
  margin-bottom: 0.9259rem;
}
.back_detial .back_detial_top {
  margin-bottom: 0.2778rem;
}
.back_detial .back_detial_top .title {
  font-size: 0.537rem;
  font-weight: 500;
  color: #01070d;
  line-height: 0.8333rem;
  margin-bottom: 0.3241rem;
}
.back_detial .back_detial_top .time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.back_detial .back_detial_top .time p {
  font-size: 0.3519rem;
  font-weight: 400;
  color: #6f859c;
  line-height: 0.4907rem;
}
.back_detial .back_detial_top .time img {
  width: 0.4074rem;
  height: 0.4074rem;
  margin-right: 0.1852rem;
}
.back_detial .back_detial_end {
  margin-bottom: 0.2778rem;
}
.back_detial .back_detial_end p {
  font-size: 0.4259rem;
  font-weight: 400;
  color: #01070d;
  line-height: 0.7407rem;
  margin-bottom: 0.2778rem;
}
.back_detial .back_detial_end img {
  width: 100%;
  margin-bottom: 0.2778rem;
}
.back_detial .back_detial_end span {
  font-size: 0.3519rem;
  font-weight: 400;
  color: #6f859c;
  line-height: 0.4907rem;
  text-align: center;
  margin-bottom: 0.2778rem;
  display: block;
}
