.itemdetial {
  width: 9.2593rem;
  margin: 0 auto;
  margin-top: 0.463rem;
  margin-bottom: 0.9259rem;
}
.itemdetial .talentdetial {
  margin-bottom: 0.463rem;
}
.itemdetial .talentdetial p {
  font-size: 0.537rem;
  font-weight: 500;
  color: #01070d;
  line-height: 0.8333rem;
}
.itemdetial .top_desc {
  border-bottom: 0.0093rem solid #CED8E2;
  padding-bottom: 0.4537rem;
  margin-top: 0.463rem;
}
.itemdetial .top_desc p {
  font-size: 0.4259rem;
  font-weight: 400;
  color: #01070d;
  line-height: 0.7407rem;
  margin-bottom: 0.2778rem;
}
.itemdetial .course {
  margin-top: 0.463rem;
}
.itemdetial .course .middle_title_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.3704rem;
}
.itemdetial .course .middle_title_main .block {
  width: 0.1111rem;
  height: 0.5093rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 97, 206, 0.1)), to(#2761ce));
  background: -webkit-linear-gradient(top, rgba(39, 97, 206, 0.1) 0%, #2761ce 100%);
  background: -o-linear-gradient(top, rgba(39, 97, 206, 0.1) 0%, #2761ce 100%);
  background: linear-gradient(180deg, rgba(39, 97, 206, 0.1) 0%, #2761ce 100%);
  -webkit-border-radius: 0.0556rem;
  border-radius: 0.0556rem;
}
.itemdetial .course .middle_title_main .middle_title {
  height: 0.6019rem;
  font-size: 0.4259rem;
  font-weight: 500;
  color: #01070d;
  line-height: 0.6019rem;
  margin-left: 0.1852rem;
}
.itemdetial .course .middle_title_main .title {
  font-size: 0.4259rem;
  font-weight: 500;
  color: #01070d;
  line-height: 0.6019rem;
  margin-left: 0.1852rem;
}
.itemdetial .course .course_single {
  width: 100%;
  background: #f0f3f6;
  -webkit-border-radius: 0.0926rem;
  border-radius: 0.0926rem;
  margin-bottom: 0.3704rem;
}
.itemdetial .course .course_single .course_single_tops_left {
  font-size: 0.537rem;
  font-weight: 500;
  color: #2761ce;
  line-height: 0.75rem;
  text-align: center;
  padding-top: 0.3704rem;
  margin-bottom: 0.2778rem;
}
.itemdetial .course .course_single .course_single_tops_right {
  width: 6.4815rem;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.itemdetial .course .course_single .course_single_tops_right .single_blocks {
  height: 0.4907rem;
  background: #ffffff;
  -webkit-border-radius: 0.2407rem;
  border-radius: 0.2407rem;
  margin-bottom: 0.2778rem;
}
.itemdetial .course .course_single .course_single_tops_right .single_blocks p {
  font-size: 0.2963rem;
  font-weight: 500;
  color: #2761ce;
  line-height: 0.4815rem;
  padding-left: 0.2315rem;
  padding-right: 0.2315rem;
}
.itemdetial .course .course_single .course_single_ends {
  padding-bottom: 0.463rem;
}
.itemdetial .course .course_single .course_single_ends p {
  font-size: 0.3519rem;
  font-weight: 400;
  color: #01070d;
  line-height: 0.5556rem;
}
.itemdetial .course .course_single .course_single_ends .course_single_ends_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 0.3704rem;
  margin-right: 0.3704rem;
  margin-bottom: 0.1852rem;
}
.itemdetial .course .course_single .course_single_ends .course_single_ends_flex img {
  width: 0.5556rem;
  margin-right: 0.2778rem;
}
.itemdetial .course .couse_type {
  margin-bottom: 0.463rem;
}
.itemdetial .course .couse_type .desc {
  font-size: 0.4259rem;
  font-weight: 400;
  color: #01070d;
  line-height: 0.7407rem;
}
.itemdetial .talent_end .talent_end_single {
  margin-bottom: 0.463rem;
}
.itemdetial .talent_end .talent_end_single img {
  width: 100%;
  height: 5.5556rem;
}
.itemdetial .talent_end .talent_end_single .talent_end_single_right .title {
  font-size: 0.537rem;
  font-weight: 500;
  color: #01070d;
  line-height: 0.8333rem;
  margin-top: 0.3704rem;
  margin-bottom: 0.1389rem;
}
.itemdetial .talent_end .talent_end_single .talent_end_single_right .desc {
  font-size: 0.4259rem;
  font-weight: 400;
  color: #01070d;
  line-height: 0.7407rem;
}
.itemdetial .talent_end .talent_end_single .talent_end_single_right .talent_end_single_right_bottom .talent_end_main {
  border-top: 0.0093rem solid #CED8E2;
  padding-top: 0.2778rem;
  margin-top: 0.2778rem;
}
.itemdetial .talent_end .talent_end_single .talent_end_single_right .talent_end_single_right_bottom .talent_end_main .talent_end_main_top {
  margin-bottom: 0.1389rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.itemdetial .talent_end .talent_end_single .talent_end_single_right .talent_end_single_right_bottom .talent_end_main .talent_end_main_top img {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.1852rem;
}
.itemdetial .talent_end .talent_end_single .talent_end_single_right .talent_end_single_right_bottom .talent_end_main .talent_end_main_top p {
  font-size: 0.4259rem;
  font-weight: 500;
  color: #01070d;
  line-height: 0.7407rem;
}
.itemdetial .talent_end .talent_end_single .talent_end_single_right .talent_end_single_right_bottom .talent_end_main .talent_end_main_bottom p {
  font-size: 0.4259rem;
  font-weight: 400;
  color: #01070d;
  line-height: 0.7407rem;
}
