.ta_c {
  text-align: center;
}
.meeting_guest {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0.50666667rem;
}
.meeting_guest .meeting_guest_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.meeting_guest .meeting_guest_top .block {
  width: 0.13333333rem;
  height: 0.56rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 97, 206, 0.1)), to(#2761ce));
  background: -webkit-linear-gradient(top, rgba(39, 97, 206, 0.1) 0%, #2761ce 100%);
  background: -o-linear-gradient(top, rgba(39, 97, 206, 0.1) 0%, #2761ce 100%);
  background: linear-gradient(180deg, rgba(39, 97, 206, 0.1) 0%, #2761ce 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.meeting_guest .meeting_guest_top p {
  font-size: 0.42666667rem;
  font-weight: 500;
  color: #01070d;
  line-height: 0.66666667rem;
  margin-left: 0.21333333rem;
}
.meeting_guest .meeting_guest_middle {
  width: 100%;
  background: #f0f3f6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.meeting_guest .meeting_guest_middle img {
  width: 2.77333333rem;
  height: 2.77333333rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.meeting_guest .meeting_guest_middle .meeting_guest_middle_right {
  margin-right: 0.4rem;
}
.meeting_guest .meeting_guest_middle .meeting_guest_middle_right .name {
  font-size: 0.42666667rem;
  font-weight: 500;
  color: #01070d;
  line-height: 0.66666667rem;
  margin-bottom: 0.18666667rem;
}
.meeting_guest .meeting_guest_middle .meeting_guest_middle_right .title {
  font-size: 0.34666667rem;
  color: #01070d;
  line-height: 0.64rem;
}
.meeting_guest .meeting_guest_desc p {
  font-size: 0.42666667rem !important;
  color: #01070d;
  line-height: 0.82666667rem;
  margin-bottom: 0.32rem;
}
.meeting_guest .meeting_guest_desc span {
  font-size: 0.42666667rem !important;
  color: #01070d;
  line-height: 0.82666667rem;
  margin-bottom: 0.32rem;
}
