.ta_c {
  text-align: center;
}
.meeting_detail_wrapper {
  position: relative;
  width: 100%;
}
.meeting_detail_wrapper .title_wrapper {
  width: 92%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.53333333rem;
  line-height: 0.74666667rem;
  height: 1.57333333rem;
  font-weight: 500;
  color: #01070d;
}
.meeting_detail_wrapper .title_wrapper img {
  margin-right: 0.18666667rem;
  width: 0.77333333rem;
  height: 0.77333333rem;
  vertical-align: middle;
}
.meeting_detail_wrapper .scroll_hor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.meeting_detail_wrapper .scroll_hor .scroll_hor_item {
  display: inline-block;
  width: auto;
  margin-right: 0.45333333rem;
  height: 0.90666667rem;
  font-weight: 500;
  color: #01070d;
  font-size: 0.34666667rem;
}
.meeting_detail_wrapper .scroll_hor .scroll_hor_item_active {
  color: #2761ce;
}
.meeting_detail_wrapper .scroll_hor .scroll_hor_item_disable {
  color: #6f859c;
}
.meeting_detail_wrapper .meeting_title_wrapper {
  padding-left: 4%;
  padding-bottom: 0.45333333rem;
  margin-top: 0.53333333rem;
  font-size: 0.42666667rem;
  font-weight: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.meeting_detail_wrapper .meeting_title_wrapper span {
  display: inline-block;
  width: 0.10666667rem;
  height: 0.50666667rem;
  margin-right: 0.4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 97, 206, 0.1)), to(#2761ce));
  background: -webkit-linear-gradient(top, rgba(39, 97, 206, 0.1) 0%, #2761ce 100%);
  background: -o-linear-gradient(top, rgba(39, 97, 206, 0.1) 0%, #2761ce 100%);
  background: linear-gradient(180deg, rgba(39, 97, 206, 0.1) 0%, #2761ce 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.meeting_detail_wrapper .meeting_item {
  display: none;
  width: 100%;
  text-align: center;
}
.meeting_detail_wrapper .meeting_item video {
  width: 92%;
  height: 5.2rem;
  margin: 0 auto;
  margin-top: 0.93333333rem;
}
.meeting_detail_wrapper .meeting_item .present {
  width: 100%;
}
.meeting_detail_wrapper .meeting_item .present .present_img {
  margin-top: 0;
  width: 100%;
}
.meeting_detail_wrapper .meeting_item .content {
  width: 92%;
  margin: 0 auto;
  text-align: left;
}
.meeting_detail_wrapper .meeting_item .content .banner {
  width: 100%;
  height: 2.77333333rem;
  margin-top: 0.4rem;
}
.meeting_detail_wrapper .meeting_item .content .banner img {
  width: 100%;
}
.meeting_detail_wrapper .meeting_item .content .title {
  text-align: center;
}
.meeting_detail_wrapper .meeting_item .content .title .title_main {
  font-size: 0.8rem;
  padding: 0.18666667rem;
}
.meeting_detail_wrapper .meeting_item .content .title .title_des {
  font-size: 0.34666667rem;
  padding: 0.45333333rem;
}
.meeting_detail_wrapper .meeting_item .content .sentence {
  margin-top: 0.64rem;
  margin-bottom: 0.93333333rem;
}
.meeting_detail_wrapper .meeting_item .content .sentence p {
  font-size: 0.42666667rem;
  color: #01070d;
  line-height: 0.74666667rem;
}
.meeting_detail_wrapper .meeting_item .content .job {
  position: relative;
  margin: 0 auto;
  margin-bottom: 0.45333333rem;
  width: 5.33333333rem;
  height: 1.12rem;
  line-height: 1.12rem;
}
.meeting_detail_wrapper .meeting_item .content .job .title {
  font-size: 0.45333333rem;
  font-weight: 500;
}
.meeting_detail_wrapper .meeting_item .content .job .title .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.meeting_detail_wrapper .meeting_item .content .job_img {
  width: 100%;
  margin-bottom: 0.45333333rem;
}
.meeting_detail_wrapper .meeting_item .content .job_sentence {
  margin-bottom: 0.74666667rem;
}
.meeting_detail_wrapper .meeting_item .content .job_sentence p {
  font-size: 0.42666667rem;
  color: #01070d;
  line-height: 0.74666667rem;
}
.meeting_detail_wrapper .meeting_item .responsibilities {
  width: 92%;
  margin: 0 auto;
  padding-top: 0.37333333rem;
  padding-bottom: 0.37333333rem;
  margin-bottom: 0.37333333rem;
  background: #f0f3f6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.34666667rem;
  color: #01070d;
}
.meeting_detail_wrapper .meeting_item .responsibilities .title {
  font-size: 0.42666667rem;
  margin-bottom: 0.4rem;
  font-weight: 500;
}
.meeting_detail_wrapper .meeting_item .responsibilities p {
  position: relative;
  text-align: left;
  line-height: 0.48rem;
  padding-left: 0.37333333rem;
  padding-right: 0.37333333rem;
  margin-left: 0.37333333rem;
  margin-bottom: 0.18666667rem;
}
.meeting_detail_wrapper .meeting_item .responsibilities p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.16rem;
  width: 0.08rem;
  height: 0.08rem;
  background: #01070d;
}
.meeting_detail_wrapper .meeting_item .pdf {
  text-align: center;
  padding-top: 1.38666667rem;
}
.meeting_detail_wrapper .meeting_item .pdf img {
  width: 1.38666667rem;
  height: 1.38666667rem;
}
.meeting_detail_wrapper .meeting_item .pdf .pdf_name {
  display: inline-block;
  margin-top: 1.38666667rem;
  text-decoration: none;
  color: #01070d;
  font-size: 0.42666667rem;
}
.meeting_detail_wrapper .meeting_item .connect_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.34666667rem;
  color: #01070d;
  line-height: 0.48rem;
  margin-left: 0.74666667rem;
  margin-top: 0.93333333rem;
}
.meeting_detail_wrapper .meeting_item .connect_item .connect_item_png {
  width: 1.12rem;
  height: 1.12rem;
  margin-right: 0.26666667rem;
}
.meeting_detail_wrapper .meeting_item .connect_item .connect_item_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.meeting_detail_wrapper .meeting_item .connect_item .connect_item_info p {
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.meeting_detail_wrapper .meeting_item .connect_item .connect_item_info p a {
  font-size: 0.42666667rem;
  font-weight: 400;
  color: #2761ce;
}
.meeting_detail_wrapper .meeting_item .qr_wrapper {
  height: 2.77333333rem;
  width: 100%;
  position: absolute;
  bottom: 2.66666667rem;
}
.meeting_detail_wrapper .meeting_item .qr_wrapper .qr {
  position: relative;
  bottom: 0;
  height: 2.77333333rem;
  margin-top: 2.66666667rem;
  width: 100%;
  background: #2761ce;
}
.meeting_detail_wrapper .meeting_item .qr_wrapper .qr .tip {
  position: absolute;
  left: 2.34666667rem;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.34666667rem;
  color: #fff;
}
.meeting_detail_wrapper .meeting_item .qr_wrapper .qr .tip .connect_tip_png {
  width: 1.12rem;
  height: 1.12rem;
}
.meeting_detail_wrapper .meeting_item .qr_wrapper .qr .tip .tip_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.meeting_detail_wrapper .meeting_item .qr_wrapper .qr .tip .tip_info p {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.meeting_detail_wrapper .meeting_item .qr_wrapper .qr .connect_qr_png {
  position: absolute;
  right: 0.74666667rem;
  top: -0.74666667rem;
  width: 2.77333333rem;
}
.meeting_detail_wrapper .meeting_item_active {
  display: block;
}
