<!DOCTYPE html>
<html lang="en">

<head>
  <title>医学人才培养联盟</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/privacy/privacy.css">
  <script src="/js/rem.js"></script>
</head>

<body>
  <% include ../component/common_header.html %>
  <main class="meeting_detail_wrapper" id="meeting_detail_wrapper">
    <section class="title_wrapper">
      隐私政策
    </section>
    <div class="line"></div>
    <section class="content">
      <p>
        你在因特网上的隐私权对医学人才培养联盟是至关重要的。本隐私权声明介绍了医学人才培养联盟通过其网站收集和共享访问者信息的政策。该政策适用于所有“医学人才培养联盟网站”，即“alliancebrh.com”域名内的所有网站。
      </p>
      <p><br></p>
      <h1>
        医学人才培养联盟收集哪些信息？
      </h1>
      <h2>
        正常使用网站
      </h2>
      <p>
        一般说来，浏览医学人才培养联盟网站时不需要告知我们你是谁或显示有关你本人的任何个人信息。我们在一般浏览期间收集的唯一信息来自标准的服务器日志。其中包括你的IP（网际协议）地址、域名、浏览器类型、操作系统以及将你转到我处的网站、你所下载的文档、你所访问的网页以及访问日期。
      </p>
      <h2>
        收集可识别个人的信息
      </h2>
      <p>
        如果你登记报名一项活动，登录特定的医学人才培养联盟咨询网站、索取信息、提供反馈、申请加盟、参加一个讨论组或参加一个电子邮寄清单，将要求你提供个人信息，例如姓名、电话，邮寄地址和电子邮件地址。这些信息仅在你知情和允许的情况下收集，并保存在医学人才培养联盟各数据库和邮寄清单中。
      </p>
      <p>
        在医学人才培养联盟网站，登记或提供个人信息会设置一个cookie*。通过设置cookie，医学人才培养联盟会在你下次访问时记得你的详情，这样你就不用再次输入信息。这有助于我们为你提供更好的服务。
      </p>
      <p>
        参加电子讨论小组可意味着讨论小组的其它参加者（包括非医学人才培养联盟雇员）将看到你自愿提供的个人信息。对于开放性讨论小组，这种信息将被公开。
      </p>
      <h1>
        医学人才培养联盟收集的信息用于何处？
      </h1>
      <h2>
        正常使用网站
      </h2>
      <p>在一般浏览“alliancebrh.com”网域期间收集的信息被用于分析医学人才培养联盟网站的趋势和使用情况，并用于改进网站的效益。这与任何个人信息都无关联。</p>
      <h2>可识别个人的信息</h2>
      <p>
        医学人才培养联盟可在如下方面使用你提供的个人信息：与你联系，以便对询问或建议作出答复，或者把通讯、文件、出版物等寄给你；管理和处理你的留言和在线加盟申请；确认你在网站上进行的报名和登记；“记住”你的在线概况和偏好；根据你的兴趣，帮助你迅速找到与你有关的信息，并帮助我们创建与你最相关的网站内容；进行统计学分析。
      </p>

      <h1>如果我不愿意提供个人信息，怎么办？</h1>
      <p>
        可选择是否在医学人才培养联盟网站上提供个人信息。如果你选择不提供个人信息，你仍可浏览和使用医学人才培养联盟网站，但你将不能执行某些行动，例如报名、登记参加活动或申请加盟。
      </p>
      <h1>删除和改变你的信息</h1>
      <p>
        你可在任何时候删除或改变你的信息，只需要回到你首次提供信息的网页并与该网页/医学人才培养联盟部门的联络人联系。在网页上不提供联络细节的情况下，你可与support@alliancebrh.com 联系以获取进一步信息。
      </p>
      <h1>安全性</h1>
      <p>
        我们不向任何第三方出售或转让医学人才培养联盟网站上自愿提供的任何可识别个人的信息。医学人才培养联盟网站使用者向医学人才培养联盟提供的任何信息得到最高度谨慎和安全的处理，将不会以此隐私政策或任何特定网站政策中规定的方式或者你明确表示同意的方式之外的其它方式使用。医学人才培养联盟采用一系列技术和安全措施以防范我们系统上所保存信息的丢失、滥用、未经授权的存取或公布、修改或损毁。
      </p>
      <p>
        责成能存取个人数据以及与处理个人数据有关的所有雇员遵守官方公务的保密原则，包括对个人数据保密。
      </p>
      <p>
        医学人才培养联盟网站含有与alliancebrh.com网域之外网站的链接。对此类网站的隐私措施或内容，医学人才培养联盟概不负责。
      </p>
      <h1>变更通知</h1>
      <p>
        对本隐私政策的变更将张贴在医学人才培养联盟的主页上：www.alliancebrh.com
      </p>
      <h1>
        联系
      </h1>
      <p>
        如对此隐私政策有问题或询问，请与我们联系：support@alliancebrh.com
      </p>
      <h1>Cookies</h1>
      <p>
        Cookies是一个互联网服务器传送到你的浏览器的少量数据。它通常用于为你的计算机进行独特的识别并安全地储存类似用户身份、密码、偏好和在线概况等信息。它储存在你计算机的硬盘上。通过改变你的浏览器设置，你可选择不要医学人才培养联盟网站提供cookies。为了保护你的隐私，你的浏览器只允许网站存取它已传送给你的cookies。
      </p>
    </section>
  </main>
  <% include ../component/common_side_menu.html %>
  <% include ../component/common_footer.html %>
  <% include ../component/common_copyright.html %>
  <% include ../component/common_js.html %>
  <script>

  </script>
</body>

</html>