.ta_c {
  text-align: center;
}
.meeting_detail_wrapper {
  position: relative;
  width: 100%;
}
.meeting_detail_wrapper .title_wrapper {
  width: 92%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.53333333rem;
  line-height: 0.74666667rem;
  height: 1.57333333rem;
  font-weight: bold;
  color: #01070d;
}
.meeting_detail_wrapper .title_wrapper img {
  margin-right: 0.18666667rem;
  width: 0.77333333rem;
  height: 0.77333333rem;
  vertical-align: middle;
}
.meeting_detail_wrapper .content {
  width: 92%;
  margin: 0 auto;
  padding-top: 0.45333333rem;
  padding-bottom: 0.93333333rem;
  color: #01070d;
  line-height: 0.74666667rem;
}
.meeting_detail_wrapper .content h1 {
  margin-top: 0.26666667rem;
  margin-bottom: 0.26666667rem;
  font-size: 0.48rem;
  font-weight: bold;
}
.meeting_detail_wrapper .content h2 {
  margin-top: 0.26666667rem;
  margin-bottom: 0.26666667rem;
  font-size: 0.42666667rem;
  font-weight: bold;
}
.meeting_detail_wrapper .content p {
  font-size: 0.42666667rem;
}
