<!DOCTYPE html>
<html lang="en">

<head>
  <title>医学人才培养联盟</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/about/about.css">
  <script src="/js/rem.js"></script>
</head>

<style>
  @font-face {
      font-family: 'webfont';
      font-display: swap;
      src: url('https://jhyl-static-file.oss-cn-hangzhou.aliyuncs.com/mtta_web_test/font/siyuan.otf');
  }

  .title_main {
      font-weight: 800;
      font-family: 'webfont' !important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
  }
</style>

<body>
  <% include ../component/common_header.html %>
  <main class="meeting_detail_wrapper" id="meeting_detail_wrapper">
    <section class="title_wrapper">
      关于我们
    </section>
    <!-- <div class="mask"></div> -->
    <div class="line"></div>
    <div class="scroll_hor">
      <div class="scroll_hor_item" data-index="0">
        联盟名誉主席寄语
      </div>
      <div class="scroll_hor_item" data-index="1">
        联盟视频
      </div>
      <div class="scroll_hor_item" data-index="2">
        联盟介绍
      </div>
      <div class="scroll_hor_item" data-index="3">
        组织结构和职责
      </div>
      <div class="scroll_hor_item" data-index="4">
        联盟章程
      </div>
      <div class="scroll_hor_item" data-index="5">
        联系我们
      </div>
      <div class="scroll_hor_item" data-index="5">
        &nbsp;
      </div>
      <div class="scroll_hor_item" data-index="5">
        &nbsp;
      </div>
    </div>
    <div class="line"></div>
    <section class="meeting_item meeting_des meeting_item_active">
      <div class="present">
        <img class="present_img" src="/img/about/person1.png" alt="">
      </div>
      <div class="content">
        <div class="title">
          <p class="title_main">
            联盟名誉主席寄语
          </p>
          <p class="title_des">
            ——中国科学院赵玉沛院士、北京协和医院院长
          </p>
        </div>
        <div class="line"></div>
        <div class="sentence">
          <p>“一带一路”国家的各位同仁们！大家好！</p>
          <p><br></p>
          <p>
            医学发展的目标，是希望世界上人人都能拥有一生的健康，都能过上健康富足的生活，无论他们姓甚名谁，无论他们来自哪里。在对全球可持续发展承诺和人类命运共同体的实现过程中，在不断发展医学和传统医学促进全人类健康发展的漫长征途上，人才的决定作用始终拥有独一无二的地位和重要性。我们在这个过程中，越来越迫切地需要培养适合21世纪发展要求的医学人才。“一带一路”医学人才培养联盟，就是在这个背景下诞生的。
          </p>
          <p><br></p>
          <p>希望“一带一路”医学人才培养联盟能联合并发挥“一带一路”国家各自优势，有 效集合并倾听彼此的声音，促进各国人才之间互相学习，通过举办大家感兴趣
            的活动让各国人才参与进来。我们将充分利用大家的参与以及我们从中得到的知识、经验和智慧来调动资源，实现对“一带一路”国家医学人才和相关人才成长的关爱和促进，不论其年龄、性别、收入、国家、政治制度和信仰。对生命的尊重，对健康的捍卫和促进，对医学人才的关爱，是联盟开展工作的核心价值。
          </p>
          <p><br></p>
          <p>
            只有人们的健康得到保障，我们生活的社区、我们的国家，甚至整个世界才能走向和谐和繁荣。新冠肺炎疫情期间，联盟成员单位开展了医疗援助、物资捐赠、视频连线、网络会议、科研攻关、知识分享等各种抗击疫情的国际合作行动，联盟建设了新冠肺炎疫情防控网上知识中心和海外华人华侨互联网咨询服务平台，向全世界抗击新冠肺炎疫情的战斗贡献中国力量。中国医护人员无论在国内还是国际的抗疫战斗一线，都留下了可敬、可爱、可称道的卓越战绩！
          </p>
          <p><br></p>
          <p>
            改善“一带一路”国家的卫生健康状况，需要所有沿线国家的切实参与。希望联盟的工作能惠及“一带一路”所有国家近44亿人民的健康发展，联盟的每个活动、每项倡议都意味着对这些国家医学人才成长和发展的帮助和促进，意味着他们之间走得更近，了解得更深，意味着中国的医学人才和“一带一路”沿线国家医学人才的通力合作和共同发展。这就是
            “一带一路”医学人才培养联盟及其合作伙伴们一起携手合作将能发挥的重要作用。
          </p>
        </div>
      </div>
    </section>
    <section class="meeting_item meeting_des">
      <video controls poster="https://jhyl-static-file.oss-cn-hangzhou.aliyuncs.com/mtta_web_test_mobile/img/about_backimg.png" src="https://jhyl-static-file.oss-cn-hangzhou.aliyuncs.com/mtta_web_test/video/aboutus.mp4">
        浏览器不支持HTML5
      </video>
    </section>
    <section class="meeting_item meeting_des">
      <div class="content">
        <div class="banner">
          <img src="/img/about/banner.png" alt="">
        </div>
        <div class="sentence">
          <p>
            “一带一路”医学人才培养联盟成立于2019年6月，是由“一带一路”沿线国家和地区医学人才培养相关的医学院校、医疗机构、学术组织、研究院（所）等自愿参加的非营利性国际交流与合作组织。“联盟”秉持“和平合作、开放包容、互学互鉴、互利共赢”的丝绸之路精神，坚持共商、共建、共享原则，以提升中国同各国人民健康与福祉为主题，以共筑“健康丝绸之路”为主线，促进卫生健康领域的政策沟通、设施连通、贸易畅通、资金融通、民心相通，为构建人类命运共同体培养卫生健康人才。
          </p>
          <p><br></p>
          <p>
            “联盟”的主要任务是开展卫生体系建设、卫生管理、医院管理、护理管理、临床医学、传染病和慢性防控、医学研究、健康养老、健康产业等方面的人才培养、研究与交流合作，促进中国和“一带一路”沿线国家卫生人力建设，不断提高健康水平。
          </p>
          <p><br></p>
          <p>“联盟”实行理事会制，理事成员由理事单位指派人员担任。理事会下设秘书处，挂靠在国家卫生健康委员会人才交流服务中心，秘书处在理事会领导下负责“联盟”日常工作。</p>
        </div>
        <div class="job">
          <div class="title">
            联盟的主要职能
            <img class="bg" src="/img/about/title_bg.png" alt="">
          </div>

        </div>
        <img class="job_img" src="/img/about/01.png" alt="">
        <div class="job_sentence">
          <p>
            整合、利用国内外权威医疗机构、医学院校、学术组织和知名研究院（所）的资源与先进理念，以及国内外医药健康产业机构的优势资源和高新技术，构建和完善我国与其他国家卫生健康政策对话与协作机制，搭建交流平台，培育和扩大各国机构间政策、技术交流合作网络，在重点领域支持形成战略性和示范性重大项目。
          </p>
        </div>
        <img class="job_img" src="/img/about/02.png" alt="">
        <div class="job_sentence">
          <p>
            围绕重点合作领域，组织和开展“一带一路”卫生健康人才培养和医学人文交流活动。通过组织卫生管理和专业技术人才的短期交流与中长期进修等形式，促进成员单位人才队伍建设，提升医药卫生服务与管理能力。
          </p>
        </div>
        <img class="job_img" src="/img/about/03.png" alt="">
        <div class="job_sentence">
          <p>
            通过完善的工作机制，促进成员单位之间建立长期战略合作关系，提升成员单位的教育、培训、科研及社会服务的质量与声誉，实现可持续发展。通过举办系列活动，推动卫健委人才交流服务中心与成员单位共建人才培养合作单位，共同研究解决医院管理、医学教育、护理教育、医学研究和健康产业发展等领域出现的新问题，落实人才培养创新合作项目，满足新需求，推动新发展。
          </p>
        </div>
        <img class="job_img" src="/img/about/04.png" alt="">
        <div class="job_sentence">
          <p>
            组织和支持成员单位开展医学科研和医疗技术成果奖项申报工作，为医学科研成果转化和新技术推广应用提供支持与服务。
          </p>
        </div>
        <img class="job_img" src="/img/about/05.png" alt="">
        <div class="job_sentence">
          <p>
            通过“联盟”平台，多方动员政府和社会资源，拓展国际组织和伙伴关系资金渠道，鼓励国内外社会资本参与，为成员单位开展医学研究、人才培训和技术创新等提供公益资金支持。
          </p>
        </div>
      </div>
    </section>
    <section class="meeting_item meeting_des">
      <div class="meeting_title_wrapper">
        <span></span>组织结构
      </div>
      <div class="present">
        <img class="present_img" src="/img/about/orginaze.png" alt="">
      </div>
      <div class="meeting_title_wrapper">
        <span></span>组织职责
      </div>
      <div class="responsibilities">
        <div class="title">联盟理事会职责</div>
        <p>
          制定和修改联盟的章程及联盟内部组织管理制度
        </p>
        <p>
          审定联盟工作计划
        </p>
        <p>
          审批新成员的加入
        </p>
        <p>
          筹备、召开联盟理事会会议
        </p>
        <p>
          组织联盟成员机构开展活动
        </p>
        <p>
          讨论联盟其他重大事项
        </p>
        <p>
          选举常务理事会，在理事会闭会期间行使职权
        </p>
      </div>
      <div class="responsibilities">
        <div class="title">专家委员会职责</div>
        <p>
          指导和评审联盟的重点工作、课题研究和项目设计及评估
        </p>
      </div>
      <div class="responsibilities">
        <div class="title">秘书处职责</div>
        <p>
          指导和协调有关联盟成员展开工作
        </p>
        <p>
          向理事会提出修改联盟章程及联盟内部管理制
        </p>
        <p>
          根据理事会讨论意见草拟联盟年度计划和准备年度实施报告
        </p>
        <p>
          拟定理事会会议议程
        </p>
      </div>
      <div class="responsibilities">
        <div class="title">理事长职责</div>
        <p>
          代表联盟签署有关重要文件
        </p>
        <p>
          召集并主持联盟成员大会
        </p>
        <p>
          主持联盟的日常工作
        </p>
        <p>
          决定联盟的其他合作事项
        </p>
      </div>
    </section>
    <section class="meeting_item meeting_des">
      <div class="pdf">
        <img onclick="changePage('http://jhyl-static-file.oss-cn-hangzhou.aliyuncs.com/mtta_web_test/pdf/aboutus.pdf')" src="/img/about/pdf.png" alt="">
        <p>
          <a class="pdf_name" href="http://jhyl-static-file.oss-cn-hangzhou.aliyuncs.com/mtta_web_test/pdf/aboutus.pdf">
            “一带一路”医学人才培养联盟章程.pdf
          </a>
        </p>
      </div>
    </section>
    <section class="meeting_item meeting_des">
      <div class="connect_item">
        <img class="connect_item_png" src="/img/about/phone.png" alt="">
        <div class="connect_item_info">
          <p>徐老师：</p>
          <p>
            <a href="tel:+86 13910841135">+86 13910841135</a>
          </p>
        </div>
      </div>
      <div class="connect_item">
        <img class="connect_item_png" src="/img/about/email.png" alt="">
        <div class="connect_item_info">
          <p>公共邮箱：</p>
          <p>
            <a href="mailto:support@alliancebrh.com">support@alliancebrh.com</a>
          </p>
        </div>
      </div>
      <div class="qr_wrapper">
        <div class="qr">
          <div class="tip">
            <img class="connect_tip_png" src="/img/about/finger.png" alt="">
            <div class="tip_info">
              <p>长按识别二维码</p>
              <p>关注微信公众号</p>
            </div>
          </div>
          <img class="connect_qr_png" src="/img/about/qr.png" alt="">
        </div>
      </div>
    </section>
  </main>
  <% include ../component/common_side_menu.html %>
  <% include ../component/common_copyright.html %>
  <% include ../component/common_js.html %>
  <script>
    function remove_class(list, rev_class) {
      for (var i = 0; i < list.length; i++) {
        list[i].classList.remove(rev_class)
      }
    }
    var bread_list = document.querySelectorAll(".scroll_hor_item")
    var meeting_item_list = document.querySelectorAll(".meeting_item")
    var day_item_title_list = document.querySelectorAll(".day_item_title")
    remove_class(bread_list, "scroll_hor_item_active")
    remove_class(meeting_item_list, "meeting_item_active")
    remove_class(day_item_title_list, "day_item_title_active")
    bread_list[0].classList.add("scroll_hor_item_active")
    meeting_item_list[0].classList.add("meeting_item_active")

    for (var i = 0; i < day_item_title_list.length; i++) {
      day_item_title_list[i].onclick = function (e) {
        var node_classList = e.currentTarget.classList
        var node = e.currentTarget
        node.nextElementSibling.classList.add("content_hidden")
        if (!node_classList.contains("day_item_title_active")) {
          node_classList.add("day_item_title_active")
          node.nextElementSibling.classList.add("content_hidden")
        } else {
          node_classList.remove("day_item_title_active")
          node.nextElementSibling.classList.remove("content_hidden")
        }

      }
    }

    for (var i = 0; i < bread_list.length; i++) {
      bread_list[i].onclick = function (e) {
        var meeting_item_list_index = +e.currentTarget.dataset.index
        remove_class(bread_list, "scroll_hor_item_active")
        remove_class(meeting_item_list, "meeting_item_active")
        bread_list[meeting_item_list_index].classList.add("scroll_hor_item_active")
        meeting_item_list[meeting_item_list_index].classList.add("meeting_item_active")
        setHeight()
      }
    }

    function setHeight() {
      document.getElementById("meeting_detail_wrapper").style.height = 'auto'
      var client_height = document.documentElement.clientHeight
      var meeting_detail_wrapper_height = document.getElementById("meeting_detail_wrapper")
        .offsetHeight
      var common_header_height = document.getElementById("common_header").offsetHeight
      var common_copyright_height = document.getElementById("common_copyright").offsetHeight
      if (client_height > meeting_detail_wrapper_height + common_header_height +
        common_copyright_height) {
        document.getElementById("meeting_detail_wrapper").style.height =
          client_height -
          common_header_height -
          common_copyright_height + 'px'
      } else {
        document.getElementById("meeting_detail_wrapper").style.height = 'auto'
      }
    }
    window.onload = function () {
      setHeight()
    }
  </script>
</body>

</html>