<!DOCTYPE html>
<html lang="en">

<head>
  <title>医学人才培养联盟</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/qa/qa.css">
  <script src="/js/rem.js"></script>
</head>

<body>
  <% include ../component/common_header.html %>
  <main class="meeting_detail_wrapper" id="meeting_detail_wrapper">
    <section class="title_wrapper">
      常见问题解答
    </section>
    <section class="qa_wrapper">
      <div class="line"></div>
      <div class="content">
        <div class="qa_item_list" id="qa_item_list">
          <div class="qa_item ">
            <!-- <div class="line"></div> -->
            <div class="qa_item_title">
              “联盟”是什么时候成立的？
              <div class="blue_bar"></div>
              <img class="sidepng sidepng_show" src="/img/qa/show.png" alt="">
              <img class="sidepng sidepng_close" src="/img/qa/close.png" alt="">
            </div>
            <!-- <div class="line line_bottom"></div> -->
            <div class="qa_item_des">
              <p>
                2019年6月，由国家卫健委人才交流服务中心发起，在九江成立。
              </p>
            </div>
          </div>
          <div class="qa_item ">
            <div class="line"></div>
            <div class="qa_item_title">
              “联盟”成立的背景是什么？
              <div class="blue_bar"></div>
              <img class="sidepng sidepng_show" src="/img/qa/show.png" alt="">
              <img class="sidepng sidepng_close" src="/img/qa/close.png" alt="">
            </div>
            <div class="qa_item_des">
              <p>
                2013年，习近平主席提出“一带一路”倡议，随着
                “一带一路”倡议的不断深入，中国与“一带一路”沿线国家在政治、经济和社会各个领域的交流与合作越来越密切。健康是促进人的全面发展的必然要求，是经济社会发展的基本条件。人类面临慢性病和传染病的双重威胁，疾病无国界，各国加强卫生领域的合作与交流意义重大，“健康丝绸之路”的理念应运而生。卫生人才的培养是卫生体系建设的基石，加强“一带一路”沿线国家人才培养的交流与合作是“健康丝绸之路”建设的重要内容，是打造人类健康共同体的需要。在此背景下，“一带一路”医学人才培养联盟成立。
              </p>
            </div>
          </div>
          <div class="qa_item">
            <div class="line"></div>
            <div class="qa_item_title ">
              “联盟”成立的目的是什么？
              <div class="blue_bar"></div>
              <img class="sidepng sidepng_show" src="/img/qa/show.png" alt="">
              <img class="sidepng sidepng_close" src="/img/qa/close.png" alt="">
            </div>
            <div class="qa_item_des">
              <p>
                为加强中国和“一带一路”沿线国家医学人才培养的交流与合作搭建平台，开展培训、学术交流和科学研究活动，促进“健康丝绸之路”建设。
              </p>
            </div>
          </div>
          <div class="qa_item ">
            <div class="line"></div>
            <div class="qa_item_title ">
              “联盟”的性质是什么？
              <div class="blue_bar"></div>
              <img class="sidepng sidepng_show" src="/img/qa/show.png" alt="">
              <img class="sidepng sidepng_close" src="/img/qa/close.png" alt="">
            </div>
            <div class="qa_item_des">
              <p>
                “联盟”是非营利性、由“一带一路”沿线国家和地区医学人才培养和使用的相关机构自愿参加的国际性合作与交流组织。
              </p>
            </div>
          </div>
          <div class="qa_item ">
            <div class="line"></div>
            <div class="qa_item_title ">
              什么样的单位和机构可以加入“联盟”？
              <div class="blue_bar"></div>
              <img class="sidepng sidepng_show" src="/img/qa/show.png" alt="">
              <img class="sidepng sidepng_close" src="/img/qa/close.png" alt="">
            </div>
            <!-- <div class="line line_bottom"></div> -->
            <div class="qa_item_des">
              <p>
                医药卫生类院校、医疗机构、医学科研机构等。目前，共有国内外220多个成员单位。
              </p>
            </div>
          </div>
          <div class="qa_item ">
            <div class="line"></div>
            <div class="qa_item_title ">
              如何加入“联盟”？
              <div class="blue_bar"></div>
              <img class="sidepng sidepng_show" src="/img/qa/show.png" alt="">
              <img class="sidepng sidepng_close" src="/img/qa/close.png" alt="">
            </div>
            <!-- <div class="line line_bottom"></div> -->
            <div class="qa_item_des">
              <p>
                加入“联盟”程序如下：
              </p>
              <p>1）有意愿的机构向“联盟”秘书处<a style="padding: 0;" href="/alliance?type=3">提交申请表</a>；</p>
              <p>2）联盟秘书处对申请机构进行资格审核，并提交理事会审议；</p>
              <p>3）理事会讨论通过，颁发联盟成员证书。</p>
            </div>
          </div>
          <div class="qa_item ">
            <div class="line"></div>
            <div class="qa_item_title ">
              “联盟”开展人才培养的交流与合作的主要领域有哪些？
              <div class="blue_bar"></div>
              <img class="sidepng sidepng_show" src="/img/qa/show.png" alt="">
              <img class="sidepng sidepng_close" src="/img/qa/close.png" alt="">
            </div>
            <!-- <div class="line line_bottom"></div> -->
            <div class="qa_item_des">
              <p>
                主要包括卫生体系建设、卫生管理、医院管理、护理管理、临床医学、传染病和慢性病防控、医学研究、健康养老、健康产业等方面的人才培养和交流。
              </p>
            </div>
          </div>
          <div class="qa_item ">
            <div class="line"></div>
            <div class="qa_item_title ">
              “联盟”的管理和组织结构是怎样？
              <div class="blue_bar"></div>
              <img class="sidepng sidepng_show" src="/img/qa/show.png" alt="">
              <img class="sidepng sidepng_close" src="/img/qa/close.png" alt="">
            </div>
            <!-- <div class="line line_bottom"></div> -->
            <div class="qa_item_des">
              <p>
                “联盟”实行理事会制，理事会成员由理事单位指派人员担任。理事会下设秘书处，挂靠在国家卫生健康委员会人才交流服务中心，秘书处在理事会领导下负责“联盟”日常工作。“联盟”下设专家委员会，由医学各相关领域国内外专家组成。
              </p>
            </div>
          </div>
          <div class="qa_item ">
            <div class="line"></div>
            <div class="qa_item_title ">
              “联盟”的职能是什么？
              <div class="blue_bar"></div>
              <img class="sidepng sidepng_show" src="/img/qa/show.png" alt="">
              <img class="sidepng sidepng_close" src="/img/qa/close.png" alt="">
            </div>
            <!-- <div class="line line_bottom"></div> -->
            <div class="qa_item_des">
              <p>
                “联盟”的主要只能是：搭建平台、技术支持、合作创新和成果转化。
              </p>
            </div>
          </div>
          <div class="qa_item ">
            <div class="line"></div>
            <div class="qa_item_title ">
              “联盟”工作目标和任务是什么？
              <div class="blue_bar"></div>
              <img class="sidepng sidepng_show" src="/img/qa/show.png" alt="">
              <img class="sidepng sidepng_close" src="/img/qa/close.png" alt="">
            </div>
            <div class="line line_bottom"></div>
            <div class="qa_item_des">
              <p>
                “联盟”2020-2025年的主要工作目标和任务是：
              </p>
              <p>1）举办学术交流活动，包括年度“联盟”大会及各类对话会、国际学术会议、研讨会、论坛等；</p>
              <p>2）为我国 2000 名三级医院院长/副院长，3000 名二级医院院长/副院长，提供“一带一路”国际交流与培训服务;</p>
              <p>3）为我国 5000名二级及以上医院的中层管理人员，临床、护理、医技科室负责人和学术带头人提供“一带一路”国际学术交流和培训服务；</p>
              <p>4）组织我国 5000 名高年资临床专科医师赴“一带一路”沿线国家进修和学术交流；</p>
              <p>5）帮助我国和“一带一路”国家的医学院校、医疗机构和医药企业之间建立合作伙伴关系。商议签署国内外医学院校合作协议约10 份，促使我国 30家联盟成员医院与国外医院建立姊妹医院合作关系，设立“一带一路”或东盟医疗卫生人才培养合作单位 30 家；</p>
              <p>6） 接收“一带一路”国家住院医师或医学生到我国成员单位专业进修、实习或学历教育；</p>
              <p>7） 组织“一带一路”国家卫生管理、医院管理、护理管理、临床医学、传染病与慢性病防控、健康老龄化、健康产业发展等领域的专家来华讲学或提供技术咨询服务；</p>
              <p>8）动员国内外社会力量募集公益资金，设立医学科学研究与人才培训专项基金，面向成员单位提供医学研究、学术交流和人才培养的公益支持；建立“一带一路”远程医学人才培训与技术交流平台。</p>
              <p style="color: red;">9）其他任务，如中国卫生政策和经验的宣讲等。</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <% include ../component/common_side_menu.html %>
  <% include ../component/common_footer.html %>
  <% include ../component/common_copyright.html %>
  <% include ../component/common_js.html %>
  <script>
    document.getElementById("qa_item_list").onclick = function (event) {
      var target = event.target;
      if (target.classList.contains("qa_item_title")) {
        target.parentNode.classList.toggle("qa_item_active")
      }
      if (target.classList.contains("sidepng")) {
        target.parentNode.parentNode.classList.toggle("qa_item_active")
      }
    }
    // var qa_item_list = document.querySelectorAll(".qa_item")
    // for(var i = qa_item_list.length-1;i>=0;i--){
    //   qa_item_list[i].onclick = function(){

    //   }
    // }
  </script>
</body>

</html>