<!DOCTYPE html>
<html lang="en">

<head>
  <title>医学人才培养联盟</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/talent/talent_inland_detial.css">
  <script src="/js/rem.js"></script>
  <script src="/js/utils.js"></script>
</head>

<body>
  <% include ../component/common_header.html %>
  <section class="talent_wrapper">
    <div class="inlandDetial">
      <% if(id == 1){ %> 
      <div class="inlandtype1">
        <h2>国家职业资格培训计划</h2>
        <p >
          为了促进医学卫生事业和健康管理产业的全面发展，为中国大健康产业培养复合型和实用型人才，切实提高医疗卫生保健服务水平和健康管理水平，提高医疗服务质量，提升百姓健康保障水平和对新医改的感受度，响应国家“健康中国2030”目标，对疾病发生的危险因素实行有效控制与管理的新型模式进行积极探索，为将医疗保健工作的重点放到城乡、社区和家庭的有效路径做铺垫，为变被动的疾病治疗为主动的健康管理做出质的飞跃打好基础。
          医学人才培养联盟希望通过此项目不断改善卫生继续教育环境和落地先进教学手段，积极引入互动式的教学方式和培训手段，增强教学的针对性、实用性和有效性，通过摸索和时间，确保教学培训计划项目实施到位，让学员学有所成、习有所获，学有所用、习有所为，使学员真正成为医疗卫生保健和健康管理服务的有效提供者。
        </p>
        <p>
          <span>·健康管理师项目说明</span></br>
          <span>·注册营养师项目说明</span></br>
          <span>·康复治疗师项目说明</span></br>
          <span>·心理咨询师项目说明</span></br>
          <span>·专业技能培训项目说明</span></br>
        </p>
        <p>学员将获得专业技能证书和结业证书。</p>
        <p>详细咨询</br>徐老师：<a href="tel:+86 13910841135">+86 13910841135</a> （微信同号）</p>
        <p>公共邮箱</br><a href="mailto:support@alliancebrh.com">support@alliancebrh.com</a></p>
      </div>
    <% }else if(id == 2){ %> 
      <div class="inlandtype2">
        <h2>国家职业资格培训健康管理师</h2>
        <h3>项目说明</h3>
        <div class="block">
          <p>一、报名条件（具备以下条件之一均可）</p>
          <p>
            1.具有医药卫生专业大学专科以上学历证书；
          </p>
          <p>
            2.具有医药卫生专业大学专科以上学历证书；
          </p>
          <p>
            3.具有医药卫生中等专科以上学历证书，连续从事本职业或相关工作3年以上。
          </p>
        </div>
        <div class="block">
          <p>二、课程内容</p>
          <p>
            1.健康管理概论：健康管理师职业标准介绍、健康管理基本概念、健康管理基本策略
          </p>
          <p>
            2.健康管理的应用：分级预防的概念、健康管理在社区中的应用、健康管理与慢病社区综合防治、社区常见慢性病的健康管理、职业人群的健康管理、生命各阶段的健康问题的管理
          </p>
          <p>
            3.健康敢于基础知识：健康敢于概述、吸烟与饮酒、心理健康与压力管理
          </p>
          <p>
            4.流行病学和统计学基础；流行病学的基本知识、医学统计学基本知识、循证医学基本概念
          </p>
          <p>5.相关法律法规与医学伦理基本知识：相关法律法规、医学伦理基本知识</p>
          <p>
            6.中医治未病与养生的理念和方法：中医治未病与养生概念、传统养生方法和技能
          </p>
          <p>
            7.健康干预基础知识：营养与膳食、体力活动与运动康复
          </p>
          <p>
            8.信息收集、分析、管理与利用：概述、信息收集、信息管理和分析、信息利用
          </p>
          <p>
            9.健康管理在健康体检行业中的应用：体检与健康管理、体检中心的设置、体检计划的制定、体检试试与注意事项、体检软件、体检报告的编制与解读、检后服务
          </p>
          <p>
            10.健康干预计划制定与实施：干预策略与原则、计划的制定、计划的实施、实施的支持性环境
          </p>
          <p>
            11.健康管理的评估：健康管理的评估概述、知识、态度和行为评估、相关健康指标的评估
          </p>
          <p>
            12.健康风险评估和风险管理：风险与风险管理、健康风险评估的定义与历史、健康风险评估的技术与方法、健康风险评估的目的与应用、健康风险评估的正确使用
          </p>
          <p>13.健康服务产业：健康管理服务于营销、健康管理产业体系的构建与实现途径</p>
          <p>
            14.健康管理在保险行业中的应用：健康保险基本知识、健康保险的几种制度体系、健康管理与健康保险、需求管理与健康保险、群体健康管理与健康保险、慢性疾病管理与健康保险、灾难性病伤管理与健康保险
          </p>
          <p>
            15.案例教学：不同社区健康管理模式实例分析、社区危险因素和慢性病干预事宜技术使用范例等等
          </p>
        </div>
        <div class="block">
          <p>三、发证机构</p>
          <p>1.职业资格证书：国家卫生健康委人才交流中心</p>
          <p>2.专业技能证书：国家人力资源和社会保障部</p>
        </div>
        <div class="block">
            <p>四、师资团队</p>
            <p>培训师资由国内健康管理师培训资深教师组成，国内外知名院校毕业，拥有多年考前培训经验，能准确把握考试的重点和难点，具有丰富的教学经验。</p>
        </div>
        <div class="block">
            <p>五、参训学员</p>
            <p>有意报考健康管理师并符合报考条件的学员</p>
        </div>
        <div class="block">
          <p>六、培训时间和地点</p>
          <p>时间：每年举办三到六期，每期时间为3-5天</p>
          <p>地点：待定</p>
        </div>
        <div class="block">
          <p>七、日程安排</p>
          <p>（待定）</p>
        </div>
        <p>详细咨询</br>徐老师：<a href="tel:+86 13910841135">+86 13910841135</a> （微信同号）</p>
        <p>公共邮箱</br><a href="mailto:support@alliancebrh.com">support@alliancebrh.com</a></p>
      </div>
    <% }else if(id == 3){ %> 
      <div class="inlandtype3">
        <h2>社区医疗培训项目说明</h2>
        <p >为了促进医疗卫生领域的社区卫生工作建设的发展，为社区医疗培训的发展提供高质量的指导，医学人才培养联盟特别为社区卫生服务中心的中层干部和全科医生提供本次进修机会。</p>
        <p >
          本项目由知名专家学者组成授课团队，通过对社区卫生从业人员工作中遇到的实际问题进行全方位的分析解读，传播适应新医改时代的知识结构，解决在社区医疗卫生管理和经营管理中产生的现实问题，提供新理论与新方法；向社区医疗卫生从业人员提供先进的经营理念与管理办法；使社区卫生从业人员能及时掌握宏观争执、经济改革与医疗体制改革方向，转换观念，树立现代社区医疗机构管理新理念。
        </p>
        <p >教务组培训前和受训机构及学员代表进行调研访谈，根据不同情况对课程进行针对性调整；并根据最终确定课程方案提供项目报价。</p>
        <p>详细咨询</br>徐老师：<a href="tel:+86 13910841135">+86 13910841135</a> （微信同号）</p>
        <p>公共邮箱</br><a href="mailto:support@alliancebrh.com">support@alliancebrh.com</a></p>
      </div>
    <% }else{ %> 
      <div class="inlandtype4">
        <h2>大健康产业H-MBA领军项目计划</h2>
        <p >
          为了促进大健康产业领域的全面发展，为中国大健康产业培养复合型大健康产业人才，医学人才培养联盟特别为医疗服务机构、健康管理机构、健康产品（服务）企业等相关健康产业领域高管；医疗、药品、医疗器械、生物科技行业投资人等提供层层递进的全面系统化研修课程。
        </p>
        <p >项目邀请专业的医疗健康产业师资团队，包括国际学者、业界泰斗、学术教授等就宏观把握国内外健康产业发展政策导向，宏观经济形势分析，系统梳理健康产业发展趋势、结合典型商业案例进行系统分析。</p>
        <p >
          ·采取理论教学、案例教学与PBL（以问题为导向的教学方法）等多种教学方式，增进学员理论知识与实战技能；邀请业内大健康产业实战专家与资本运作专家分享经验，邀请政府决策官员、知名研究学者、业界大咖和实战专家进行对话，与学员分享大健康产业发展的前沿去世、政策走向、经典商业案例分析。
        </p>
        <p >·培养学员系统化管理思维能力及实践应用能力，邀请成功运作项目的学员分享起项目管理经验，总结其中的经验与教训，可供其他学员参考，力求有效解决创业型企业及成长型企业自身发展的实际问题，实现绩效改进和提升。</p>
        <p >·通过开展移动数字医疗、智慧医疗健康、社会医疗健康企业发展等方向为学员提供实战模拟课程，全面剖析业态发展趋势，掌握运营实战技巧，提升管理操作水平。</p>
        <p >项目一年两期，滚动开班，每月一次集中授课，每次安排2天课程。学习期满并符合结业要求，将获颁结业证书。</p>
        <p>详细咨询</br>徐老师：<a href="tel:+86 13910841135">+86 13910841135</a> （微信同号）</p>
        <p>公共邮箱</br><a href="mailto:support@alliancebrh.com">support@alliancebrh.com</a></p>
      </div>
      <% } %> 
    </div>
  </section>
  <% include ../component/common_side_menu.html %>
  <% include ../component/common_footer.html %>
  <% include ../component/common_copyright.html %>
  <% include ../component/common_js.html %>
  <script>
  

  </script>
</body>

</html>