<!DOCTYPE html>
<html lang="en">

<head>
  <title>医学人才培养联盟</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/talent/talent_inland.css">
  <script src="/js/rem.js"></script>
  <script src="/js/utils.js"></script>
</head>

<body>
  <% include ../component/common_header.html %>
  <section class="talent_wrapper">
    <div class="inland">
        <div class="inland_top">
            <p>国际培训</p>
        </div>
        <div class="inland_main">
            <div onclick="changePage('/talent/talentDevDetailSimple')" class="inland_single">
                <img src="/img/talent/foreign/01.png" alt="">
                <p>“一带一路”医学人才培养联盟三年规划(20…</p>
            </div>
            <div onclick="changePage('/talent/talent_foreign_detial/Japan')" class="inland_single">
                <img src="/img/talent/foreign/02.png" alt="">
                <p>日本医院管理及临床专业类短期交流项目招…</p>
            </div>
            <div onclick="changePage('/talent/talent_foreign_detial/France')" class="inland_single">
                <img src="/img/talent/foreign/03.png" alt="">
                <p>法国医院管理及临床专业类短期交流项目招…</p>
            </div>
            <div onclick="changePage('/talent/talent_foreign_detial/UK')" class="inland_single">
                <img src="/img/talent/foreign/04.png" alt="">
                <p>英国医院管理及临床专业类短期交流项目招…</p>
            </div>
            <div onclick="changePage('/talent/talent_foreign_detial/Italy')" class="inland_single">
                <img src="/img/talent/foreign/05.png" alt="">
                <p>意大利医院管理及临床专业类短期交流项目…</p>
            </div>
            <div onclick="changePage('/talent/talent_foreign_detial/Sweden')" class="inland_single">
                <img src="/img/talent/foreign/06.png" alt="">
                <p>瑞典医院管理及临床专业类短期交流项目招…</p>
            </div>
            <div onclick="changePage('/talent/talent_foreign_detial/Austria')" class="inland_single">
                <img src="/img/talent/foreign/07.png" alt="">
                <p>奥地利医院管理及临床专业类短期交流项目…</p>
            </div>
            <div onclick="changePage('/talent/talent_foreign_detial/CHTaiwan')" class="inland_single">
                <img src="/img/talent/foreign/08.png" alt="">
                <p>中国台湾医院管理及临床专业类短期交流项…</p>
            </div>
            <div onclick="changePage('/talent/talent_foreign_detial/Singapore')" class="inland_single">
                <img src="/img/talent/foreign/09.png" alt="">
                <p>新加坡医院管理及临床专业类短期交流项目…</p>
            </div>
        </div>
    </div>

  </section>
  <% include ../component/common_side_menu.html %>
  <% include ../component/common_footer.html %>
  <% include ../component/common_copyright.html %>
  <% include ../component/common_js.html %>
  <script>


  </script>
</body>

</html>