<!DOCTYPE html>
<html lang="en">

<head>
  <title>医学人才培养联盟</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/talent/talentDevDetailSimple.css">
  <script src="/js/rem.js"></script>
  <script src="/js/utils.js"></script>
</head>

<body>
  <% include ../component/common_header.html %>
  <section class="talent_wrapper">
        <div class="simple">
            <div class="simple_top">
                <p class="title">“一带一路”医学人才培养联盟三年规划(2020-2022)</p>
                <p class="desc">依托国内外丰富的教育资源，联盟将致力于培养具有国际视野，富有创新精神的卫生管理、医院管理、临床医学教育、研究与医疗服务、护理管理与服务、健康养老、健康产业发展等方面的人才。为联盟成员单位搭建开展“一带一路”卫生健康人才培养国际合作交流共享平台，建立中国与“一带一路”沿线国家的医药卫生机构之间常态化人才培养与交流机制。</p>
            </div>
            <div class="simple_end">
                <p class="end_title">2020-2022年（三年）具体目标如下：</p>
                <p class="end_single">不定期举办国际卫生体系建设与医药卫生改革政策对话活动；举办医院管理、护理管理、医疗质量与医疗服务、医学研究与学术交流国际会议。每年举办一期联盟大会，促进“一带一路”国家卫生健康人才培养与医学人文交流。</p>
                <p class="end_single">为我国2000名三级医院院长/副院长，3000名二级医院院长/副院长，提供“一带一路”国际交流与培训服务。</p>
                <p class="end_single">为我国5000名二级及以上医院的中层管理人员，临床、护理、医技科室带头人提供“一带一路”国际学术交流和培训服务。</p>
                <p class="end_single">组织我国5000名高年资临床专科医师赴“一带一路”国家进修和学术交流。</p>
                <p class="end_single">帮助我国和“一带一路”国家的医学院校、医疗机构和医药健康产业之间建立合作伙伴关系。国内外医学院校签署合作协议10份，我国30家联盟成员医院与国外医院建立姊妹医院合作关系，设立“一带一路”或东盟医疗卫生人才培养合作单位30家。</p>
                <p class="end_single">接收“一带一路”国家住院医师或医学生到我国联盟成员单位进修、实习。</p>
                <p class="end_single">组织“一带一路”国家卫生管理、医院管理、护理管理、临床医学、传染病与慢性病防控、健康老龄化、健康产业发展等领域的专家来华讲学，提供咨询服务。</p>
                <p class="end_single">动员国内外社会力量，筹集公益资金，设立医学研究与人才培训专项基金，面向联盟成员单位提供医学研究学术交流和人才培养的公益支持；建立“一带一路”远程医学人才培训与技术交流平台。</p>
            </div>
        </div>
  </section>
  <% include ../component/common_side_menu.html %>
  <% include ../component/common_footer.html %>
  <% include ../component/common_copyright.html %>
  <% include ../component/common_js.html %>
  <script>


  </script>
</body>

</html>