<!DOCTYPE html>
<html lang="en">

<head>
    <title>医学人才培养联盟</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/talent/talent_back_detial.css">
    <script src="/js/rem.js"></script>
    <script src="/js/utils.js"></script>
</head>

<body>
    <% include ../component/common_header.html %>
    <section class="talent_wrapper">
        <% if(id == 1){ %>
        <div class="back_detial">
            <div class="back_detial_top">
                <p class="title">中日医院管理及人文交流项目</p>
                <div class="time">
                    <img src="/img/talent/back/time.png" alt="">
                    <p>2019年</p>
                </div>
            </div>
            <div class="back_detial_end">
                <p>2019年中日医院管理及人文交流项目邀请三级医院领导和医院管理专家赴日本国立国际医疗中心，日本东京大学医院，东京都健康长寿医疗中心，龟田医疗中心等综合医疗机构进行短期交流，成功举办了三期，约五十多位三级医院领导和医院管理专家参加了赴日交流。
                </p>
                <img src="/img/talent/back/1.png" alt="">
                <span>第一期团员拜访东京大学医学部附属医院</span>
                <img src="/img/talent/back/2.png" alt="">
                <span>团员在国立国际医疗研究中心医院进行交流</span>
                <img src="/img/talent/back/3.png" alt="">
                <span>第二期团员在东京大学校门前合影</span>
                <img src="/img/talent/back/4.png" alt="">
                <span>团员与川渕孝一教授合影</span>
                <img src="/img/talent/back/5.png" alt="">
                <span>团员和木村壯介教授合影</span>
                <img src="/img/talent/back/6.png" alt="">
                <span>第三期团员拜访东京都健康长寿医疗中心</span>
            </div>
        </div>
        <% }else if(id == 2){ %>
        <div class="back_detial">
            <div class="back_detial_top">
                <p class="title">法中医学检验专业能力建设项目</p>
                <div class="time">
                    <img src="/img/talent/back/time.png" alt="">
                    <p>2019年</p>
                </div>
            </div>
            <div class="back_detial_end">
                <p>2019年6月，约30位中国医院的医学检验专业领军人才和医院管理者前往法国凡尔赛中心医院参加了这个为期一周的医学检验专业研修项目，交流内容包括：医学检验专业前沿学科发展和管理创新，集团医院的医学检验中心建设与供应链管理，基因检测与精准医学等。
                </p>
                <img src="/img/talent/back/7.png" alt="">
                <span>第一期检验大师班合影</span>
            </div>
        </div>
        <% }else if(id == 3){ %>
        <div class="back_detial">
            <div class="back_detial_top">
                <p class="title">法国瑞典医院管理与医学人文交流</p>
                <div class="time">
                    <img src="/img/talent/back/time.png" alt="">
                    <p>2019年</p>
                </div>
            </div>
            <div class="back_detial_end">
                <p>2019年7月，11位中国三级医院的领导和管理专家参加了法国瑞典医院管理与医学人文交流项目。交流内容包括：新型医院管理模式，法国及瑞典公立医院组织架构和治理，卫生人力资源管理和绩效，新医院项目流程管理及其相应的建筑设计，医院信息系统，医患冲突管理，医院的应急管理、危机管理等。
                </p>
                <img src="/img/talent/back/8.png" alt="">
                <span>团员们参观雷恩市政府合影</span>
                <img src="/img/talent/back/9.png" alt="">
                <span>团员们参观雷恩市政府官员交流</span>
                <img src="/img/talent/back/10.png" alt="">
                <span>团员们在卡洛林斯卡学院合影</span>
                <img src="/img/talent/back/11.png" alt="">
                <span>团员们和影像部主任Prof. Edvard Azevedo合影</span>
            </div>
        </div>
        <% }else if(id == 4){ %>
        <div class="back_detial">
            <div class="back_detial_top">
                <p class="title">英国剑桥医院管理与医学人文交流项目</p>
                <div class="time">
                    <img src="/img/talent/back/time.png" alt="">
                    <p>2019年</p>
                </div>
            </div>
            <div class="back_detial_end">
                <p>2019年我单位与英方共同组织，共有11位三级医院领导和医院管理专家参加了为期一周的交流活动。目的是加强中英两国医疗机构间的人员交流和医院管理能力建设，为中方医院管理者学习、借鉴英国医院管理运营等方面的先进经验搭建平台。交流内容包括：医疗体制；培训体系；医院管理；私人医疗；知识产权和知识转让；药物研发与临床试验等方面。</p>
                <img src="/img/talent/back/12.png" alt="">
                <span>团员们和彼得芒特勋爵合影</span>
                <img src="/img/talent/back/13.png" alt="">
                <span>团员们拜访剑桥大学临床医学院</span>
                <img src="/img/talent/back/14.png" alt="">
                <span>团员们参访剑桥大学医学院附属罗西医院</span>
            </div>
        </div>
        <% }else{ %>
        <div class="back_detial">
            <div class="back_detial_top">
                <p class="title">奥地利医院管理及医学人文交流项目</p>
                <div class="time">
                    <img src="/img/talent/back/time.png" alt="">
                    <p>2019年</p>
                </div>
            </div>
            <div class="back_detial_end">
                <p>2019年5月，13位来自中国三级医院的领导和管理专家参加了第一期中奥医院管理与医学人文交流项目。</p>
                <img src="/img/talent/back/15.png" alt="">
                <span>团员们与奥地利维也纳医院管理局、奥中卫生交流项目负责人劳施玛雅博士合影</span>
            </div>
        </div>
        <% } %>
    </section>
    <% include ../component/common_side_menu.html %>
    <% include ../component/common_footer.html %>
    <% include ../component/common_copyright.html %>
    <% include ../component/common_js.html %>
    <script>


    </script>
</body>

</html>