.ta_c {
  text-align: center;
}
.search_middle {
  margin: 0 auto;
  margin-left: 0.61333333rem;
  margin-right: 0.61333333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.01333333rem;
}
.search_middle .search_middle_left {
  width: 8.37333333rem;
  height: 1.22666667rem;
  width: 314px;
  background: #ffffff;
  -webkit-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid rgba(150, 173, 196, 0.5);
}
.search_middle .search_middle_left input {
  border: none;
  line-height: 1.22666667rem;
  padding-left: 0.50666667rem;
  font-size: 0.42666667rem;
  color: #000000;
  height: 83%;
  width: 92%;
}
.search_middle .search_middle_right {
  height: 1.22666667rem;
  width: 1.44rem;
  background: #2761ce;
  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #2761ce;
  position: relative;
}
.search_middle .search_middle_right img {
  width: 0.77333333rem;
  height: 0.77333333rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.search_detial_main {
  margin-top: 1.01333333rem;
  margin-bottom: 1.01333333rem;
}
.search_detial_main .search_detial_main_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  padding-left: 0.66666667rem;
  padding-right: 0.66666667rem;
}
.search_detial_main .search_detial_main_top .search_detial_main_top_single {
  border-bottom: 2px solid #ffffff;
}
.search_detial_main .search_detial_main_top .search_detial_main_top_single p {
  font-size: 0.42666667rem;
  color: #01070d;
  line-height: 0.66666667rem;
  padding-bottom: 0.32rem;
}
.search_detial_main .search_detial_main_top .selected {
  border-bottom: 2px solid #2761CE;
}
.search_detial_main .search_detial_main_top .selected p {
  color: #2761CE;
}
.search_detial_main .search_detial_main_top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #CED8E2;
  -webkit-transform: scale(1, 0.3);
  -ms-transform: scale(1, 0.3);
  transform: scale(1, 0.3);
}
.search_detial_main_single {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
  padding-bottom: 0.4rem;
  position: relative;
}
.search_detial_main_single .single_top {
  margin-bottom: 0.21333333rem;
}
.search_detial_main_single .single_top p {
  font-weight: 500;
  color: #2761ce;
  font-size: 0.42666667rem;
  line-height: 0.72rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.search_detial_main_single .single_top span {
  color: #e02020;
}
.search_detial_main_single .single_middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.search_detial_main_single .single_middle .back {
  width: 2.66666667rem;
  height: 1.49333333rem;
  margin-right: 0.21333333rem;
}
.search_detial_main_single .single_middle p {
  font-size: 0.34666667rem !important;
  color: #01070d;
  line-height: 0.64rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.search_detial_main_single .single_middle span {
  font-size: 0.34666667rem !important;
  color: #01070d;
  line-height: 0.64rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.search_detial_main_single .single_end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.21333333rem;
}
.search_detial_main_single .single_end p {
  font-size: 0.26666667rem;
  color: #6f859c;
  line-height: 0.4rem;
  margin-right: 0.32rem;
}
.search_detial_main_single::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #CED8E2;
  -webkit-transform: scale(1, 0.3);
  -ms-transform: scale(1, 0.3);
  transform: scale(1, 0.3);
}
.single_middle_left {
  position: relative;
}
.single_middle_left .play {
  width: 0.61333333rem;
  height: 0.61333333rem;
  position: absolute;
  right: 10px;
  bottom: 4px;
}
.data .data_center {
  font-weight: 500;
  color: #2761ce;
  font-size: 0.42666667rem;
  line-height: 0.72rem;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
  text-indent: 0.7778rem;
  height: 1.2963rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.data span {
  color: #e02020;
}
.data img {
  width: 0.72rem;
  height: 0.72rem;
  position: absolute;
  left: 0;
}
.no_detial {
  text-align: center;
  margin-top: 1.84rem;
  margin-bottom: 5.86666667rem;
}
.no_detial img {
  width: 2.85333333rem;
  height: 3.06666667rem;
  text-align: center;
  margin-bottom: 0.82666667rem;
}
.no_detial p {
  width: 5.54666667rem;
  font-size: 0.42666667rem;
  color: #6f859c;
  line-height: 0.72rem;
  margin: 0 auto;
}
.single_middle_desc {
  height: 1.14666667rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
