.ta_c {
  text-align: center;
}
.common_header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(206, 216, 226, 0.51);
  box-shadow: 0px 1px 3px 0px rgba(206, 216, 226, 0.51);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1.28rem;
  line-height: 1.28rem;
}
.common_header .logo {
  display: inline-block;
  margin-left: 0.45333333rem;
  height: 0.93333333rem;
}
.common_header .logo img {
  width: 3.04rem;
  height: 0.93333333rem;
}
.common_header .search,
.common_header .menu,
.common_header .close {
  float: right;
  margin-right: 0.45333333rem;
  height: 0.69333333rem;
}
.common_header .search img,
.common_header .menu img,
.common_header .close img {
  width: 0.69333333rem;
  height: 0.69333333rem;
}
.common_header .search {
  margin-left: auto;
}
.common_header .ico-navi {
  display: inline-block;
  width: 0.53333333rem;
  height: 0.05333333rem;
  position: relative;
  vertical-align: middle;
  background: #2761ce;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.common_header .ico-navi::before {
  content: '';
  display: block;
  width: 100%;
  height: 0.05333333rem;
  background: #2761ce;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  top: -8px;
}
.common_header .ico-navi::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.05333333rem;
  background: #2761ce;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  top: 8px;
}
.common_header .close {
  display: none;
}
.common_header .close img {
  width: 0.69333333rem;
  height: 0.69333333rem;
}
.common_header_block {
  width: 100%;
  background: #fff;
  height: 1.28rem;
  line-height: 1.28rem;
}
#head_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.close_menu .ico-navi {
  background: transparent;
}
.close_menu .ico-navi::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
.close_menu .ico-navi::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}
