.ta_c {
  text-align: center;
}
.talent_wrapper {
  padding-bottom: 0.8rem;
}
.talent_wrapper .index_module_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin-top: 0.18666667rem;
  background: #ffffff;
  height: 1.33333333rem;
  font-size: 0.42666667rem;
}
.talent_wrapper .index_module_header .index_module_header_title {
  -webkit-flex-basis: 70%;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  color: #2761ce;
  font-size: 0.53333333rem;
}
.talent_wrapper .index_module_header .index_module_header_title img {
  vertical-align: middle;
  width: 0.74666667rem;
  height: 0.74666667rem;
  margin-left: 0.26666667rem;
}
.talent_wrapper .talent_main {
  width: 92%;
  margin: 0 auto;
  margin-top: 0.37333333rem;
  margin-bottom: 0.37333333rem;
}
.talent_wrapper .talent_main .talent_main_item {
  margin-top: 0.74666667rem;
}
.talent_wrapper .talent_main .talent_main_item .bg {
  position: relative;
}
.talent_wrapper .talent_main .talent_main_item .bg .bg_img {
  width: 100%;
}
.talent_wrapper .talent_main .talent_main_item .bg .img_lock {
  position: absolute;
  left: 0.26666667rem;
  top: 0.26666667rem;
  width: 0.50666667rem;
  height: 0.50666667rem;
}
.talent_wrapper .talent_main .talent_main_item .bg .title {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 0.53333333rem;
}
.talent_wrapper .talent_main .talent_main_item .bg .title .in {
  width: 0.18666667rem;
  height: 0.34666667rem;
  vertical-align: middle;
}
.talent_wrapper .talent_main .talent_main_item .bg .flag {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 0.32rem;
  right: 0.13333333rem;
  bottom: 0.26666667rem;
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
  padding-top: 0.05333333rem;
  padding-bottom: 0.05333333rem;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  color: #1158b1;
}
.talent_wrapper .talent_main .talent_main_item .bg .flag .num {
  font-size: 0.34666667rem;
}
.talent_wrapper .talent_main .talent_main_item .bg .flag .test {
  font-size: 0.32rem;
}
.index_module_header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #CED8E2;
  -webkit-transform: scale(1, 0.3);
  -ms-transform: scale(1, 0.3);
  transform: scale(1, 0.3);
}
