<!DOCTYPE html>
<html lang="en">

<head>
  <title>医学人才培养联盟</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/characteristic/doctor.css">
  <script src="/js/rem.js"></script>
</head>

<body>
  <% include ../component/common_header.html %>
  <main class="meeting_detail_wrapper" id="meeting_detail_wrapper">
    <section class="title_wrapper">
      乡村医生研究所
    </section>
    <!-- <div class="mask"></div> -->
    <div class="line"></div>
    <div id="nav" class="scroll_hor">
      <div class="scroll_hor_item" data-index="0">
        席彪教授简介
      </div>
      <div class="scroll_hor_item" data-index="1">
        探索 1996—
      </div>
      <div class="scroll_hor_item" data-index="2">
        发展 1999—
      </div>
      <div class="scroll_hor_item" data-index="3">
        开拓 2006—
      </div>
      <div class="scroll_hor_item" data-index="4">
        深入 2010—
      </div>
      <div class="scroll_hor_item" data-index="5">
        革新 2014—
      </div>
      <div class="scroll_hor_item" data-index="6">
        规范 2016—
      </div>
      <div class="scroll_hor_item" data-index="7">
        未来 2020—
      </div>
      <!-- <div class="scroll_hor_item " data-index="0">
        &nbsp;
      </div>
      <div class="scroll_hor_item" data-index="6">
        &nbsp;
      </div> -->
    </div>
    <div class="line"></div>
    <div class="center">
      <section class="meeting_item meeting_item_active">
        <div class="content">
          <div class="doctor">
            <img class="doctor_img" src="/img/characteristic/doctor1.png" alt="">
            <div class="des">
              <p class="name">席彪教授</p>
              <p class="short_des">河北医科大学教授、主任医师、博士生导师、河北新型智库健康发展研究中心、首席专家、执行主任。</p>
            </div>
          </div>
        </div>
        <div class="meeting_title_wrapper">
          <span></span>简介
        </div>
        <div class="sentence">
          <p>
            1957年8月出生，现任河北医科大学教授、主任医师、博士研究生导师，河北理工大学管理专业硕士研究生导师，河北新型智库健康发展研究中心首席专家、执行主任。主要从事医学教育、卫生管理、全科医学方面的教学与研究。
          </p>
          <p>
            具有“赤脚医生”的工作背景，有在乡卫生院、县医院、地区医院、省医院的临床工作经历，有在医学院校的工作经历及在省级卫生行政管理部门的工作经历。全程参加世界银行贷款中国农村卫生人力资源开发项目，先后二次参加卫生部制定乡村医生十年规划和全国乡村医生正规化系统化教育的设计。走过全国各省，到过80余个乡镇卫生院和400多个村卫生室，访问乡村卫生人员600多名。
          </p>
          <p>
            现在担任中华医学会全科分会常委、中华医学会全科分会基层学组主任委员、中华全科医学教育学院”专家委员会常委，中国医生协会全科分会委员、全科医生教育培训专家委员会委员，中国非公立医疗机构协会专家委员会委员、中国卫生信息与健康医疗大数据学会继续医学教育标准化委员会副主任委员兼秘书长，国家医学考试专家组成员，北京医学研究基金全科基金评审委员、河北省卫健委医改专家委员会委员，国家卫健委能力建设与继续教育中心专家组组长，国家卫生部教材建设专家委员会委员、国家教育部卫生职业教育教学指导委员会委员、全国基层人员培训项目专家委员会委员、健康中国行动推进委员会国家咨询专家委员会委员、基层优质服务行国家专家委员会委员。
          </p>
          <p>出版著作、教材61本，发表学术论文137篇，科研成果6项。</p>
          <p>
            担任席彪乡村医生研究所所长。
          </p>
        </div>
      </section>
      <section class="meeting_item">
          <div class="sentence">
            <p>鉴于生长于农村和经历“赤脚医生”的深厚情节，对农村卫生和农民健康的关心始终萦绕心头，挥之不去。随着国家改革开放和经济体制改革的深入，农村医疗卫生受到严重挑战，长期发挥作用的农村三级医疗卫生保健网络几近崩溃，乡镇卫生院和村卫生室的功能弱化并且失去支撑，卫生专业技术人员流失严重，设备老化，服务机构的服务行为与保障群众健康的宗旨背道而驰，医疗服务质量不能满足群众健康需求。乡村医生忙于养家糊口，预防保健工作束之高阁。直接导致了广大人民群众看病难、看病贵和因病致贫、因病返贫的恶果。</p>
            <p>如何从职业责任出发阻止这种现象的蔓延？留给我们能够做的功课只能是进行调查研究，发现和梳理问题，深入挖掘问题原因，提出力所能及的解决策略。为此，我们从乡村医生入手展开研究。</p>
            <img src="/img/doctor/01.png" alt="">
            <p>996年我们在6个省的11个地区进行了调查，发现了一系列问题，根据问题深层次原因，我们最有可能做而且可以见效的是应对乡村医生知识技能老化和医疗技术水平提升缓慢开展培训，当时，组织乡村医生培训也成了问题，于是，我们就进一步缩小目标，先为乡村医生提供一本能够方便学习并且有更新和规范知识技能的教材，为了能够使教材简明实用、易学易用，我们选择了问答式的编写体例。通过分析需求，广泛查阅文献，1997年，我们形成了编写大纲和问题目录，经过征询部分乡村医生的意见后组织国内专业人员组成编写团队，于2000年底交付人民卫生出版社。《农村医学问答》一书被列为国家星火计划。2003年正式出版发行，发行量大30000余册，受到广大乡村医生的欢迎，对乡村医生提高产生了一定作用。</p>
          </div>
      </section>
      <section class="meeting_item">
          <div class="sentence">
              <p>农村基层医疗卫生的问题实在太多，错综复杂。经过第一阶段的研究和实践，使我们对基层医疗卫生网络的了解更加深入，对当时国家的政策也更加理解。当时，我国正在推动初级卫生保健，农村基层是关键。我们依然认识到基层专业人员是落实初级卫生保健行动计划必须首先要解决的问题。当时农村卫生服务机构普遍存在人员数量不足、人员水平不高、服务质量较差的问题。于是，我们研究后提出，应该建立一支农村初级卫生保健专业人员队伍。</p>
              <img src="/img/doctor/02.png" alt="">
              <p>为此，我们历经3年研究初级卫生保健政策及具体内容，研究各国的经验，为农村初级卫生保健人员培养设计出一套培养模式和方案，编制出一套相应的课程计划和教材。1999年到2002年，全套12本教材先后在人民卫生出版社和中国医药卫生出版社出版，在河北省运用到12000多名乡村医生的教育培训中。</p>
              <img src="/img/doctor/03.png" alt="">
              <img src="/img/doctor/04.png" alt="">
          </div>
      </section>
      <section class="meeting_item">
          <div class="sentence">
              <p>农村出现的卫生问题把我们对基层卫生专业人员特别是乡村医生的研究逐步引向深入，2000-2018年我们全程参加了世界银行贷款中国农村卫生人力资源开发项目。该项目由世界银行提供1亿美元贷款与国内等量配套资金在河北、安徽、山西、福建、贵州、河南6个省实施，其目的是通过改革农村基层人员培训模式、对农村人力进行科学规划、对基层卫生人员实施培训、建立有效管理制度激发乡村人员奋斗热情，提高农村医疗卫生服务能力和疾病预防能力，最终实现提高农村居民健康水平的目的。我们开始了为期6年的农村卫生人员培养模式的教育改革，以席彪教授为代表的研究团队创建了“以工作描述和任务分析为基础的农村卫生专业人员定向培养模式”，运用该模式培训出6009余名乡村卫生人员走向农村基层医疗卫生服务岗位。世界银行中国农村卫生人力资源开发项目对我国基层卫生人员培养产生了长期影响。项目中应用的规划-培训-管理一揽子系统理论和方法成为卫生领域最早革新的重要手段和技术。图片是培训改革试点之一的承德卫生学校培养基层护理人员开发的教材。先后二次参加卫生部“乡村医生十年规划”的制定。</p>
              <img src="/img/doctor/05.png" alt="">
          </div>
      </section>
      <section class="meeting_item">
          <div class="sentence">
            <p>随着研究经验的积累和成果的不断涌现，我们对农村医疗卫生状况的认识更加深入，对其中的关键问题的认识更加明确。农村医疗卫生问题需要采取综合措施解决。乡村医生能力、数量固然重要，但是养育这些人员的环境、制度、政策更为关键。因为我们培养的人员留不住、养不起，发挥不好作用。2009年，一场史无前例的医疗卫生体制改革启动，这给农村卫生面貌改变带来希望。全科医疗制度和家庭医生制度给基层注入活力。我们参与了其中。我们进一步总结先前经验，继续以人员培养为先导，开展了一系列研究。乡村卫生人员现状和培训需求调查我们在全国抽样先后进行过2次，乡村卫生人员新模式培训试点在河北、安徽、宁夏、新疆、福建、贵州、四川等省区开展，为期3年。我们提出以胜任岗位为目标、以需求为导向的全科医生培养模式，这一培养方法被证明是有效的、适宜的、实用的。为此，我们经过8年时间，探究出以问题为导向、以胜任力为基础乡村卫生人员培养的基本模型。以上探索实践的成果分别以《全科医疗团队培训》和《医生职业修炼》的专著由人民卫生出版社和北京大学医学出版社出版。参与全国乡村医生正规化系统化教育项目的设计。</p>
            <img src="/img/doctor/06.png" alt="">
          </div>
      </section>
      <section class="meeting_item">
        <div class="sentence">
          <p>世界银行贷款中国农村卫生人力资源开发项目深刻启迪了我们的思维，带给我们认识农村卫生问题的新工具。援助我们的诸位来自多国的著名国外专家和我国的相关领域专家一起共同工作了6年多时间，使我们获得了现代卫生规划技术、医学教育理念、现代教育方法、卫生服务管理思路等新知识、新方法、新技术，为国内培养出一批具有现代思维和能力的规划人才、教育人才、管理人才、研究人才，其系统思考和方法持续在发挥作用。项目结束后，我们在原有的研究基础上，使这些成果进一步本土化、实用化。其中，工作描述和任务分析方法和技术被进一步得到深度发掘和完善。我们在原国家卫生部科教司的支持下，开始探索利用该技术开发基层“岗位胜任力”模型，并且进一步对乡村两级卫生服务机构的工作项目进行梳理和分类，构建起中国乡村卫生专业能力数据库，经过规范化处理，形成“中国乡村卫生服务辞典”的基础。研究和编写出版了10册系统的培训教材和与之匹配的视频配套教材。在13个乡村试点乡镇卫生院中获得良好效果。该教材模式也成为医学教材改革探索的重要成果。这种模型实现了把知识-技能-态度有机结合在一起，并且成为工作人员的行为规范。</p>
          <img src="/img/doctor/07.png" alt="">
        </div>
      </section>
      <section class="meeting_item">
        <div class="sentence">
          <p>长期的理论探索和实践积累，使我们对农村基层卫生服务的内容、方式、影响因素以及卫生专业人员的能力、行为有了更加深刻的认识理解。同时，对国家倡导和推行的全科医疗制度、全科医生有了更加深入的认识。我们在吸取国内外研究成果的基础上，开始构建中国农村全科医学理论体系和全科医生培养模式。这些研究结果通过全科医学教材得以体现，成为培养全科医生的教材。</p>
          <img src="/img/doctor/08.png" alt="">
        </div>
      </section>
      <section class="meeting_item">
        <div class="sentence">
          <p>进入新时期，农村卫生依然是国家最关心最重视的工作之一。工作在农村的乡村医生同样受到各级政府和学界的关注。依然有许多困扰乡村医生的问题亟待解决。我们认为，中国农村不能没有乡村医生，中国的农民不能没有乡村医生，无论乡村医生的名称如何改变，其承担守门人的责任和服务农民健康的工作任务不可或缺。相信经过各种努力，乡村医生的境况会越来越好，乡村医生的素质会越来越高，同时他们的环境、条件、待遇都会得到显著改变。我们的任务是继续深入研究乡村医生的生存问题、发展问题、提高问题。正在承担国家卫健委《基层医疗卫生机构管理人员职业化培训教材》和《乡村医生实用手册》。</p>
          <img src="/img/doctor/09.png" alt="">
        </div>
      </section>
    </div>
  </main>
  <% include ../component/common_side_menu.html %>
  <% include ../component/common_copyright.html %>
  <% include ../component/common_js.html %>
  <script>
    function remove_class(list, rev_class) {
      for (var i = 0; i < list.length; i++) {
        list[i].classList.remove(rev_class)
      }
    }
    var bread_list = document.querySelectorAll(".scroll_hor_item")
    var meeting_item_list = document.querySelectorAll(".meeting_item")
    var day_item_title_list = document.querySelectorAll(".day_item_title")
    remove_class(bread_list, "scroll_hor_item_active")
    remove_class(meeting_item_list, "meeting_item_active")
    remove_class(day_item_title_list, "day_item_title_active")
    bread_list[0].classList.add("scroll_hor_item_active")
    meeting_item_list[0].classList.add("meeting_item_active")

    for (var i = 0; i < day_item_title_list.length; i++) {
      day_item_title_list[i].onclick = function (e) {
        var node_classList = e.currentTarget.classList
        var node = e.currentTarget
        node.nextElementSibling.classList.add("content_hidden")
        if (!node_classList.contains("day_item_title_active")) {
          node_classList.add("day_item_title_active")
          node.nextElementSibling.classList.add("content_hidden")
        } else {
          node_classList.remove("day_item_title_active")
          node.nextElementSibling.classList.remove("content_hidden")
        }

      }
    }

    for (var i = 0; i < bread_list.length; i++) {
      bread_list[i].onclick = function (e) {
        var meeting_item_list_index = +e.currentTarget.dataset.index
        remove_class(bread_list, "scroll_hor_item_active")
        remove_class(meeting_item_list, "meeting_item_active")
        bread_list[meeting_item_list_index].classList.add("scroll_hor_item_active")
        meeting_item_list[meeting_item_list_index].classList.add("meeting_item_active")
        setHeight()
      }
    }

    function setHeight() {
      document.getElementById("meeting_detail_wrapper").style.height = 'auto'
      var client_height = document.documentElement.clientHeight
      var meeting_detail_wrapper_height = document.getElementById("meeting_detail_wrapper")
        .offsetHeight
      var common_header_height = document.getElementById("common_header").offsetHeight
      var common_copyright_height = document.getElementById("common_copyright").offsetHeight
      if (client_height > meeting_detail_wrapper_height + common_header_height +
        common_copyright_height) {
        document.getElementById("meeting_detail_wrapper").style.height =
          client_height -
          common_header_height -
          common_copyright_height + 'px'
      } else {
        document.getElementById("meeting_detail_wrapper").style.height = 'auto'
      }
    }
    window.onload = function () {
      setHeight()
    }
  </script>
    <script>
      window.onload = function () {
          var nav = document.getElementById('nav');
          var tabblog = nav.offsetTop
          var center = document.querySelector(".center");
          document.onscroll = function () {
              var distance = document.body.scrollTop || document.documentElement.scrollTop;
              if (distance > tabblog) {
                  nav.className = "scroll_hor tabfixed";
                  //nav置顶后 需将center向下移nav的宽度，否则影响样式
                  center.style.marginTop = "1rem";
              } else {
                  center.style.marginTop = "0";
                  nav.className = "scroll_hor";
              }
              if (distance > 0) {
        document.getElementById('backtop').style.display = "block"  
        document.getElementById('backmenu').style.display = "block"  
    } else {
        document.getElementById('backtop').style.display = "none"  
        document.getElementById('backmenu').style.display = "none"  
    }
          };
      }
    </script>
</body>

</html>