<section class="side_menu_wrapper" id="side_menu_wrapper" onclick="hideSideMenuByMask()">
  <section class="side_menu">
    <!-- <header class="side_menu_header">
      <span class="side_menu_header_item_default side_menu_header_item_active">中文</span>
      <span class="side_menu_header_item_default">English</span>
      <span class="side_menu_header_item_default">Français</span>
    </header> -->
    <section class="side_menu_main" onclick="stopPop()">
      <div class="side_menu_item">
        <div class="side_menu_first_level" data-url="/home">
          <span>首页</span>
          <div class="line line-bottom"></div>
        </div>
      </div>
      <div class="side_menu_item">
        <div class="side_menu_first_level" data-url="/about">
          <span>关于我们</span>
          <div class="line line-bottom"></div>
        </div>
      </div>
      <div class="side_menu_item">
        <div class="side_menu_first_level">

          <span>人才培养</span>
          <img class="arrow" src="/img/side_menu/show.png" alt="">
          <div class="line line-bottom"></div>
        </div>
        <div class="side_menu_second_level">
          <div data-url="/talent/talent_inland"> <img src="/img/side_menu/04-active.png" alt="">国内培训</div>
          <div data-url="/talent/talent_foreign"><img src="/img/side_menu/03-active.png" alt="">国际培训</div>
          <div data-url="/talent/talent_back"><img src="/img/side_menu/10-active.png" alt="">项目回顾</div>
        </div>
      </div>
      <div class="side_menu_item">
        <div class="side_menu_first_level">
          <span>科研创新</span>
          <img class="arrow" src="/img/side_menu/show.png" alt="">
          <div class="line line-bottom"></div>
        </div>
        <div class="side_menu_second_level">
          <div style="color: #6F859C;" data-url=""> <img src="/img/side_menu/07.png" alt="">科研项目</div>
          <div style="color: #6F859C;" data-url=""><img src="/img/side_menu/06.png" alt="">科研成果</div>
          <div style="color: #6F859C;" data-url=""><img src="/img/side_menu/01.png" alt="">创新技术</div>
        </div>
      </div>
      <div class="side_menu_item">
        <div class="side_menu_item">
          <div class="side_menu_first_level" data-url="/alliance">
            <span>成员与伙伴</span>
            <div class="line line-bottom"></div>
          </div>
        </div>
      </div>
      <div class="side_menu_item">
        <div class="side_menu_item">
          <div class="side_menu_first_level">
            <span>特色专栏</span>
            <img class="arrow" src="/img/side_menu/show.png" alt="">
            <div class="line line-bottom"></div>
          </div>
          <div class="side_menu_second_level">
            <div data-url="/characteristic/doctor"> <img src="/img/side_menu/08-active.png" alt="">乡村医生研究所</div>
            <div style="color: #6F859C;" data-url=""><img src="/img/side_menu/05.png" alt="">健康咨询</div>
            <div style="color: #6F859C;" data-url=""><img src="/img/side_menu/11.png" alt="">学科科室共建</div>
            <div style="color: #6F859C;" data-url=""><img src="/img/side_menu/12.png" alt="">住院医师规范化培训</div>
          </div>
        </div>
      </div>
      <div class="side_menu_item">
        <div class="side_menu_item">
          <div class="side_menu_first_level" data-url="/video_list">
            <span>视频中心</span>
            <div class="line line-bottom"></div>
          </div>
        </div>
      </div>
      <div class="side_menu_item">
        <div class="side_menu_item">
          <div class="side_menu_first_level">
            <span>资料中心</span>
            <img class="arrow" src="/img/side_menu/show.png" alt="">
            <div class="line line-bottom"></div>
          </div>
          <div class="side_menu_second_level">
            <div data-url="/datum/datum_text"> <img src="/img/side_menu/02-active.png" alt="">新冠肺炎专题</div>
            <div data-url="/datum/datum_pollicy"><img src="/img/side_menu/09-active.png" alt="">相关政策文件</div>
          </div>
        </div>
      </div>
      
    </section>
  </section>
  <div class="origin_block">

  </div>
</section>
<img id="backtop" class="backtop" onclick="backScrollTop()" src="/img/side_menu/backtop.png" alt="">
<img id="backmenu" onclick="changePage('/home')" class="backmenu" src="/img/side_menu/backmenu.png" alt="">