<header class="common_header" id="common_header">
  <div class="logo" onclick="changePage('/home')">
    <img src="/img/index/logo.png" alt="">
  </div>
  <div class="search" onclick="changePage('/search')" id="head_search">
    <img src="/img/index/search.png" alt="">
  </div>
  <div class="menu" id="head_menu" onclick="showSideMenu()">
    <!-- <img src="/img/index/menu.png" alt=""> -->
    <i class="ico-navi"></i>
  </div>
  <!-- <div class="close" id="head_close" onclick="hideSideMenu()">
    <img src="/img/index/close.png" alt="">
  </div> -->
</header>
<div class="common_header_block">

</div>
<% include ./common_todo.html %>