.ta_c {
  text-align: center;
}
.news_list_wrapper {
  min-height: 50vh;
  margin-bottom: 0.9259rem;
}
.news_list_wrapper .index_module_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin-top: 0.18666667rem;
  background: #ffffff;
  height: 1.33333333rem;
  font-size: 0.42666667rem;
}
.news_list_wrapper .index_module_header .index_module_header_title {
  -webkit-flex-basis: 70%;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2761CE;
  font-size: 0.53333333rem;
}
.news_list_wrapper .index_module_header .index_module_header_title img {
  width: 0.74666667rem;
  height: 0.74666667rem;
  margin-left: 0.26666667rem;
}
.news_list_wrapper .index_module_header .index_module_header_more {
  -webkit-flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #6f859c;
  margin-right: 0.4rem;
}
.news_list_wrapper .index_module_header .index_module_header_more img {
  margin-left: 0.18666667rem;
  margin-right: 0.18666667rem;
  width: 0.50666667rem;
  height: 0.50666667rem;
}
.news_list_wrapper .index_module_header .index_module_header_more #more2 {
  display: none;
}
.news_list_wrapper .index_module_header .index_module_header_more_active #more2 {
  display: block;
}
.news_list_wrapper .index_module_header .index_module_header_more_active #more3 {
  display: none;
}
.news_list_wrapper .index_module_header .select_type_wrapper {
  display: none;
  position: fixed;
  left: 0;
  top: 2.45333333rem;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.news_list_wrapper .index_module_header .select_type_wrapper .select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2.32rem;
  background: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.news_list_wrapper .index_module_header .select_type_wrapper .select .select_item {
  margin-left: 0.06666667rem;
  margin-right: 0.06666667rem;
  height: 1.01333333rem;
  width: 3.01333333rem;
  line-height: 1.01333333rem;
  font-size: 0.42666667rem;
  background: #f0f3f6;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  color: #2761ce;
}
.news_list_wrapper .index_module_header .select_type_wrapper .select .select_item_active {
  background: #2761ce;
  color: #fff;
}
.news_list_wrapper .index_module_header .select_type_wrapper_active {
  display: block;
}
.news_list_wrapper .index_module_header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #CED8E2;
  -webkit-transform: scale(1, 0.3);
  -ms-transform: scale(1, 0.3);
  transform: scale(1, 0.3);
}
.news_list_wrapper .news_scroll_wrapper_show_item {
  position: relative;
  width: 92%;
  margin: 0 auto;
  font-weight: 400;
  padding-top: 0.37333333rem;
  background: #ffffff;
}
.news_list_wrapper .news_scroll_wrapper_show_item .news_active_list_item_header {
  font-size: 0.42666667rem;
  line-height: 0.61333333rem;
  padding-right: 0.26666667rem;
  margin-bottom: 0.18666667rem;
  font-weight: 500;
  color: #01070d;
  -o-text-overflow: -o-ellipsis-lastline;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.news_list_wrapper .news_scroll_wrapper_show_item .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.news_list_wrapper .news_scroll_wrapper_show_item .content .left {
  width: 1.65333333rem;
  height: 1.12rem;
  margin-right: 0.18666667rem;
}
.news_list_wrapper .news_scroll_wrapper_show_item .content .left img {
  width: 1.65333333rem;
  height: 1.12rem;
}
.news_list_wrapper .news_scroll_wrapper_show_item .content .right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 0.58666667rem;
  font-size: 0.34666667rem;
  height: 1.14666667rem;
  -o-text-overflow: -o-ellipsis-lastline;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news_list_wrapper .news_scroll_wrapper_show_item .news_active_list_item_footer {
  font-size: 0.26666667rem;
  color: #6f859c;
  line-height: 0.37333333rem;
  padding-top: 0.21333333rem;
  padding-bottom: 0.4rem;
}
.news_list_wrapper .news_scroll_wrapper_show_item .news_active_list_item_footer span {
  display: inline-block;
  margin-right: 0.2778rem;
}
.news_list_wrapper .news_scroll_wrapper_show_item::after {
  content: "";
  width: 100%;
  height: 0.02666667rem;
  background: #CED8E2;
  position: absolute;
  -webkit-transform: scale(1, 0.3);
  -ms-transform: scale(1, 0.3);
  transform: scale(1, 0.3);
  bottom: 0;
  left: 0;
}
