<!DOCTYPE html>
<html lang="en">

<head>
  <title>医学人才培养联盟</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/meeting/meeting_detail.css">
  <script src="/js/rem.js"></script>
</head>

<body>
  <% include ../component/common_header.html %>
  <main class="meeting_detail_wrapper">
    <section class="title_wrapper">
      <img src="/img/meeting/meeting.png" alt="">
      2019年会
    </section>
    <!-- <div class="mask"></div> -->
    <div class="line"></div>
    <div id="nav" class="scroll_hor">
      <div class="scroll_hor_item" data-index="0">
        会议须知
      </div>
      <div class="scroll_hor_item" data-index="1">
        会议日程
      </div>
      <div class="scroll_hor_item" data-index="2">
        会议嘉宾
      </div>
      <div class="scroll_hor_item" data-index="3">
        代表名单
      </div>
      <!-- <div class="scroll_hor_item scroll_hor_item_disable" data-index="4">
        会议视频
      </div>
      <div class="scroll_hor_item scroll_hor_item_disable" data-index="5">
        会议资料
      </div> -->
      <div class="scroll_hor_item" data-index="4">
        现场回顾
      </div>
      <!-- <div class="scroll_hor_item" data-index="6">
        &nbsp;
      </div>
      <div class="scroll_hor_item" data-index="6">
        &nbsp;
      </div> -->
    </div>
    <div class="line"></div>
    <div class="center">
      <section class="meeting_item meeting_des meeting_item_active">
        <img class="banner"
          src="http://jhyl-static-file.oss-cn-hangzhou.aliyuncs.com/mtta_web_test_mobile/img/2019_meeting_banner.png"
          alt="">
        <div class="meeting_title_wrapper">
          <span></span>会议须知
        </div>
        <p>
          尊敬的各位代表：
        </p>
        <p>
          欢迎您参加“一带一路”医学人才培养联盟成立大会暨2019医院管理人文交流国际研讨会。现将此次会议的有关注意事 项向您介绍如下:
        </p>
        <p>
          1、会议地点：九江远洲国际大酒店；地址：九江市南湖路116号；电话：0792-8888888。
        </p>
        <p>
          2、接站安排：会务组安排志愿者在南昌机场、九江火车站、庐山火车站接机、接站；接站联系人：胡春潮，电话：13907922505。
        </p>
        <p>
          3、会议用餐：24日中午、晚上酒店自助餐(一楼地中海西餐厅)；25日中午自助餐(二楼大厅)，晚上桌餐(4楼阳光厅)宴请；26日中午自助餐(一楼地中海西餐厅)。
        </p>
        <p>
          4、主会场：3 楼远洲厅(25日全天)。
        </p>
        <p>
          5、九江天气：6月24-26日期间，九江市气温20°C-27°C，小雨，湿度较大。
        </p>
        <p>
          6、会议提供中文、英文同声传译。
        </p>
        <p>
          7、会议主会场有免费WIFI。
        </p>
        <p>
          8、会议代表和工作人员凭会议证件入会场。
        </p>
        <p>
          9、请与会代表按会议日程准时参加各项活动。
        </p>
        <p>
          10、会场内请关闭手机，请勿吸烟。
        </p>
        <p>
          11、贵重物品请妥善保管。
        </p>
        <p>
          12、会务组联系人：周晓鹏：13810878244、张 云：13810666656、方红梅：13507927796、李学进：13507066620。
        </p>
        <p>
          13、酒店区位图如下：
        </p>
        <p>
          <img src="http://jhyl-static-file.oss-cn-hangzhou.aliyuncs.com/mtta_web_test_mobile/img/2019_meeting_map.png" />
        </p>
      </section>
      <section class="meeting_item meeting_date">
        <div class="meeting_title_wrapper">
          <span></span>会议日程
        </div>
        <div class="day_item">
          <div class="day_item_title">
            <img class="day" src="/img/meeting/day1.png" alt="">6月24日 (星期一)
            <img class="up" src="/img/meeting/up.png" alt="">
          </div>
          <div class="content">
            <div class="short_des">全天 ｜ 代表报道</div>
          </div>
        </div>
        <div class="day_item">
          <div class="day_item_title">
            <img class="day" src="/img/meeting/day2.png" alt="">6月25日 (星期二)
            <img class="up" src="/img/meeting/up.png" alt="">
          </div>
          <div class="content">
            <div class="des">
              <p class="fitst_level">开幕式及联盟成立仪式</p>
              <p class="second_level">主持人：国家卫生健康委人才交流服务中心国际合作处祎莉娜处长</p>
            </div>
            <div class="short_des">8:30-9:00 ｜ 开幕式致辞</div>
            <div class="all">
              <p>九江学院——刘晓东校长 </p>
              <p>九江市政府——李军副市长 </p>
              <p>国家卫生健康委国际司——佘志文 </p>
              <p>委人才交流服务中心——张俊华副主任(主持工作) </p>
              <p>宜昌人福药业——杜文涛总裁 </p>
            </div>
            <div class="short_des">9:00-9:20 ｜ 成立仪式</div>
            <div class="all">
              <p>“一带一路”医学人才培养联盟成立仪式——大会主席等共同见证联盟成立仪式 </p>
              <p> “一带一路”医学人才培养联盟介绍——国家卫生健康委人才交流服务中心 授牌仪式——张俊华副主任(主持工作) </p>
            </div>
            <div class="short_des">9:20-9:40 ｜ 合影及茶歇</div>
            <div class="des">
              <p class="fitst_level">“一带一路”医学人才培养国际合作典型经验分享</p>
              <p class="second_level">主持人：国家卫生健康委人才交流服务中心 张俊华副主任</p>
            </div>
            <div class="short_des">09:40-10:00</div>
            <div class="all">
              <p>改革开放形势下国际化医院的建设与探索——浙江大学医学院附属邵逸夫医院 常务副院长、副书记 黄昕 </p>
            </div>
            <div class="short_des">10:20-10:35</div>
            <div class="all">
              <p>意大利卫生体系及中意卫生合作发 展与前景展望——意大利驻华大使馆卫生专员孔珠禧 </p>
            </div>
            <div class="short_des">10:35-10:50 </div>
            <div class="all">
              <p>“一带一路”倡议下与东盟国家医学 国际合作及人才培养的实践与体会——广西医科大学第一附属医院院长 陈俊强 </p>
            </div>
            <div class="short_des">10:50-11:05 </div>
            <div class="all">
              <p>荷兰卫生体系、中荷卫生合作及医学人才培养——荷兰王国驻华大使馆卫生参赞博沛 </p>
            </div>
            <div class="short_des">11:05-11:20 </div>
            <div class="all">
              <p>法国医院院长职业化进阶——法国古斯塔夫·鲁西癌症医院皮埃 尔·阿曼德 </p>
            </div>
            <div class="short_des">11:20-12:00 ｜ 圆桌讨论 </div>
            <div class="all">
              <p>落实“一带一路”倡议，在全球化视野 下推进医学人才培养合作 主持人: 九江学院副校长 杨耀防</p>
              <p> 甘肃省人民医院院长——钱耀文 </p>
              <p> 湖南省儿童医院副院长——朱丽辉 </p>
              <p>广东医科大学附属医院书记——林挺葵 </p>
              <p> 中国科学技术大学附属第一医院(安徽省立医院)工会主席——储晓红</p>
              <p>山东大学第二医院副院长——贾红英 </p>
              <p>北京中医药大学东方医院副院长——郭荣娟</p>
            </div>
            <div class="short_des">12:00-13:30 ｜ 午餐 </div>
            <div class="des">
              <p class="fitst_level">医院管理及人文交流研讨</p>
              <p class="second_level">主持人：浙江大学医学院附属邵逸夫医院常务副院长 黄昕</p>
            </div>
            <div class="short_des">13:30-13:50 </div>
            <div class="all">
              <p>法国模拟中心建设与管理——法国 Ilumens 模拟教学培训中心创始人兼负责人安东尼 </p>
            </div>
            <div class="short_des">13:50-14:05 </div>
            <div class="all">
              <p>交流合作、共享医学科技成果——浙江大学附属第一医院副院长 沈晔 </p>
            </div>
            <div class="short_des">14:05-14:20 </div>
            <div class="all">
              <p>全球肿瘤免疫治疗最新进展——法国古斯塔夫·鲁西癌症医院皮埃尔·阿曼德 </p>
            </div>
            <div class="short_des">14:20-14:35 </div>
            <div class="all">
              <p>中葡医学人才培养与合作典型经验分享——澳门心脏学会和葡萄牙语系医生学会代表马瑞欧 </p>
            </div>
            <div class="short_des">14:35-15:00 </div>
            <div class="all">
              <p>意大利托斯卡纳大区卫生体系及合作前景展望——意大利托斯卡纳大区卫生署署长 保罗·莫雷诺 </p>
            </div>
            <div class="short_des">15:00-15:20 ｜ 茶歇 </div>
            <div class="short_des">15:20-16:00 ｜ 圆桌讨论 </div>
            <div class="all">
              <p>如何通过医学人才培养与医学国际合作带动医学技术提升，主持人：浙江大学附属第一医院副院长 沈晔 </p>
              <p>北京大学第三医院副院长——周洪柱 </p>
              <p> 武汉科技大学医学院院长——吴清明</p>
              <p>安徽中医药大学第一附属医院副院长——彭长林</p>
              <p>法国古斯塔夫·鲁西癌症医院 皮埃尔·阿曼德 </p>
              <p>法国Ilumens模拟教学培训中心创始人兼负责人安东尼</p>
            </div>
            <div class="des">
              <p class="second_level">主持人：国家卫生健康委人才交流服务中心 张俊华副主任</p>
            </div>
            <div class="short_des">16:00-16:15</div>
            <div class="all">
              <p>湖南省医院管理及国际化发展——湖南省卫健委副主任祝益民 </p>
            </div>
            <div class="short_des">16:15-16:30</div>
            <div class="all">
              <p>中法卫生人力资源管理制度比较研究——中法卫生人才培训合作中心副研究员 胡丹 </p>
            </div>
            <div class="short_des">16:30-16:45 ｜ 会议总结</div>
            <div class="short_des">18:00-19:30 ｜ 晚餐</div>
          </div>
        </div>
        <div class="day_item">
          <div class="day_item_title">
            <img class="day" src="/img/meeting/day3.png" alt="">6月26日 (星期三)
            <img class="up" src="/img/meeting/up.png" alt="">
          </div>
          <div class="content">
            <div class="short_des">09:30-11:30</div>
            <div class="all">
              <p>健康生态城建设与健康城市参观——九江市政府 鄱阳湖生态城 </p>
            </div>
            <div class="short_des">12:00-13:00 ｜ 午餐</div>
            <div class="short_des">下午 ｜ 离会</div>
          </div>
        </div>
      </section>
      <section class="meeting_item meeting_guest">
        <div style="padding-left:0" class="meeting_title_wrapper">
          <span></span>会议嘉宾
        </div>
        <% for (let i = 0; i < meetingDetail.guest_list.length; i++) { %>
          <div onclick="changePage('/meeting_list/2019/<%=meetingDetail.guest_list[i].guest_id%>')" class="guest_item">
            <div class="head_img">
              <%if(meetingDetail.guest_list[i].head_img){%>
              <img src="<%=meetingDetail.guest_list[i].head_img%>" alt="">
              <%}else{%>
              <img src="/img/meeting/defult_headimg.png" alt="">
              <%}%>
            </div>
            <div class="guest_des">
              <p class="name"><%=meetingDetail.guest_list[i].name%></p>
              <p class="des">
                <%=meetingDetail.guest_list[i].short_describe%>
              </p>
            </div>
          </div>
        <% } %>
      </section>
      <section class="meeting_item meeting_representative">
        <!-- 代表 -->
        <div class="meeting_title_wrapper">
          <span></span>代表名单
        </div>
        <div class="representative_wrapper">
          <% for (let key in meetingDetail.representative_list) { %>
        <div class="representative_type">
          <%=key%>
        </div>
        <% for (let i = 0; i < meetingDetail.representative_list[key].length; i++) { %>
        <div class="representative_item">
          <div class="num">
            <%= meetingDetail.representative_list[key][i].id%>
          </div>
          <%if(meetingDetail.representative_list[key][i].sex === 1){%>
          <img class="sex" src="/img/meeting/male.png" alt="">
          <%}%>
          <%if(meetingDetail.representative_list[key][i].sex === 2){%>
          <img class="sex" src="/img/meeting/female.png" alt="">
          <%}%>
          <div class="name">
            <%= meetingDetail.representative_list[key][i].name%>
        </div>
        <div class="des">
          <%= meetingDetail.representative_list[key][i].company%>
        </div>
        </div>
  
        <%}%>
      
          <%}%>
        </div>
      </section>
      <!-- <section class="meeting_item meeting_date">

      </section>
      <section class="meeting_item meeting_date">

      </section> -->
      <section class="meeting_item meeting_review">
        <div class="meeting_title_wrapper">
          <span></span>现场回顾
        </div>
        <div class="review_pic_wrapper">
          <img class="review_img" src="/img/meeting/review/1.jpg" alt="">
          <p class="des">国家卫生健康委人才交流服务中心主任 张俊华</p>
          <img class="review_img" src="/img/meeting/review/2.jpg" alt="">
          <p class="des">国家卫生健康委国际司 佘志文</p>
          <img class="review_img" src="/img/meeting/review/3.jpg" alt="">
          <p class="des">江西省九江市副市长 李军</p>
          <img class="review_img" src="/img/meeting/review/4.jpg" alt="">
          <p class="des">九江学院校长 刘晓东</p>
          <img class="review_img" src="/img/meeting/review/5.jpg" alt="">
          <p class="des">宜昌人福药业总裁 杜文涛</p>
  
          <img class="review_img" src="/img/meeting/review/22.jpg" alt="">
          <p class="des">法国古斯塔夫•鲁西癌症中心所长、法国国家科学委员会委员 皮埃尔•阿曼德</p>
          <img class="review_img" src="/img/meeting/review/23.jpg" alt="">
          <p class="des">荷兰王国驻华大使馆卫生参赞 博沛</p>
          <img class="review_img" src="/img/meeting/review/24.jpg" alt="">
          <p class="des">英国医疗教育委员会劳动力规划与数据分析总监 罗伯•史密斯</p>
          <img class="review_img" src="/img/meeting/review/25.jpg" alt="">
          <p class="des">意大利驻华大使馆卫生事务专员 孔珠禧</p>
          <img class="review_img" src="/img/meeting/review/26.jpg" alt="">
          <p class="des">意大利AUSL托斯卡纳中心-托斯卡纳卫生部公共卫生保健CEO 保罗•马切斯</p>
  
          <img class="review_img" src="/img/meeting/review/6.png" alt="">
          <p class="des">联盟启动仪式（1）</p>
          <img class="review_img" src="/img/meeting/review/7.jpg" alt="">
          <p class="des">联盟启动仪式（2）</p>
          <img class="review_img" src="/img/meeting/review/8.jpg" alt="">
          <p class="des">会场图片（1）</p>
          <img class="review_img" src="/img/meeting/review/9.jpg" alt="">
          <p class="des">会场图片（2）</p>
          <img class="review_img" src="/img/meeting/review/10.jpg" alt="">
          <p class="des">会场图片（3）</p>
          <img class="review_img" src="/img/meeting/review/11.jpg" alt="">
          <p class="des">会场图片（4）</p>
          <img class="review_img" src="/img/meeting/review/12.jpg" alt="">
          <p class="des">会场图片（5）</p>
          <img class="review_img" src="/img/meeting/review/13.jpg" alt="">
          <p class="des">会场图片（6）</p>
          <img class="review_img" src="/img/meeting/review/14.jpg" alt="">
          <p class="des">会场图片（7）</p>
          <img class="review_img" src="/img/meeting/review/15.jpg" alt="">
          <p class="des">圆桌讨论（1)</p>
          <img class="review_img" src="/img/meeting/review/16.jpg" alt="">
          <p class="des">圆桌讨论（2)</p>
          <img class="review_img" src="/img/meeting/review/17.jpg" alt="">
          <p class="des">授牌仪式（1）</p>
          <img class="review_img" src="/img/meeting/review/18.jpg" alt="">
          <p class="des">授牌仪式（2）</p>
          <img class="review_img" src="/img/meeting/review/19.jpg" alt="">
          <p class="des">授牌仪式（3）</p>
          <img class="review_img" src="/img/meeting/review/20.jpg" alt="">
          <p class="des">授牌仪式（4）</p>
          <img class="review_img" src="/img/meeting/review/21.jpg" alt="">
          <p class="des">合影</p>
        </div>
      </section>
    </div>
   
  </main>
  <% include ../component/common_side_menu.html %>
  <% include ../component/common_copyright.html %>
  <% include ../component/common_js.html %>
  <script>
    function remove_class(list, rev_class) {
      for (var i = 0; i < list.length; i++) {
        list[i].classList.remove(rev_class)
      }
    }
    var bread_list = document.querySelectorAll(".scroll_hor_item")
    var meeting_item_list = document.querySelectorAll(".meeting_item")
    var day_item_title_list = document.querySelectorAll(".day_item_title")
    remove_class(bread_list, "scroll_hor_item_active")
    remove_class(meeting_item_list, "meeting_item_active")
    remove_class(day_item_title_list, "day_item_title_active")
    bread_list[0].classList.add("scroll_hor_item_active")
    meeting_item_list[0].classList.add("meeting_item_active")

    for (var i = 0; i < day_item_title_list.length; i++) {
      day_item_title_list[i].onclick = function (e) {
        var node_classList = e.currentTarget.classList
        var node = e.currentTarget
        node.nextElementSibling.classList.add("content_hidden")
        if (!node_classList.contains("day_item_title_active")) {
          node_classList.add("day_item_title_active")
          node.nextElementSibling.classList.add("content_hidden")
        } else {
          node_classList.remove("day_item_title_active")
          node.nextElementSibling.classList.remove("content_hidden")
        }

      }
    }

    for (var i = 0; i < bread_list.length; i++) {
      bread_list[i].onclick = function (e) {
        remove_class(bread_list, "scroll_hor_item_active")
        remove_class(meeting_item_list, "meeting_item_active")
        bread_list[+e.currentTarget.dataset.index].classList.add("scroll_hor_item_active")
        meeting_item_list[+e.currentTarget.dataset.index].classList.add("meeting_item_active")
      }
    }
    window.onload = function () {
        var nav = document.getElementById('nav');
        var tabblog = nav.offsetTop
        var center = document.querySelector(".center");
        document.onscroll = function () {
            var distance = document.body.scrollTop || document.documentElement.scrollTop;
            if (distance > tabblog) {
                nav.className = "scroll_hor tabfixed";
                //nav置顶后 需将center向下移nav的宽度，否则影响样式
                // center.style.marginTop = "1rem";
            } else {
                center.style.marginTop = "0";
                nav.className = "scroll_hor";
            }
            if (distance > 0) {
        document.getElementById('backtop').style.display = "block"  
        document.getElementById('backmenu').style.display = "block"  
    } else {
        document.getElementById('backtop').style.display = "none"  
        document.getElementById('backmenu').style.display = "none"  
    }
        };
    }
  </script>
</body>

</html>